Retaguarda/Compras/Cliente/ComprasClient/Service References/ComprasService/ComprasService31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ComprasService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ComprasService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompraTipoRequisicaoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Empresa" nillable="true" type="tns:EmpresaDTO" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompraTipoRequisicaoDTO" nillable="true" type="tns:CompraTipoRequisicaoDTO" />
  <xs:complexType name="EmpresaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AliquotaCofins" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="AliquotaPis" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="AliquotaSat" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Cei" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cnpj" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoCnaePrincipal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoGps" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoIbgeCidade" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoIbgeUf" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoTerceiros" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Contato" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Crt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataCadastro" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DataInicioAtividades" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DataInscJuntaComercial" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ImagemLogotipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InscricaoEstadual" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InscricaoEstadualSt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InscricaoJuntaComercial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InscricaoMunicipal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NomeFantasia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RazaoSocial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Suframa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoControleEstoque" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoRegime" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmpresaDTO" nillable="true" type="tns:EmpresaDTO" />
  <xs:complexType name="ArrayOfCompraTipoRequisicaoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CompraTipoRequisicaoDTO" nillable="true" type="tns:CompraTipoRequisicaoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompraTipoRequisicaoDTO" nillable="true" type="tns:ArrayOfCompraTipoRequisicaoDTO" />
  <xs:complexType name="CompraTipoPedidoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompraTipoPedidoDTO" nillable="true" type="tns:CompraTipoPedidoDTO" />
  <xs:complexType name="ArrayOfCompraTipoPedidoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CompraTipoPedidoDTO" nillable="true" type="tns:CompraTipoPedidoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompraTipoPedidoDTO" nillable="true" type="tns:ArrayOfCompraTipoPedidoDTO" />
  <xs:complexType name="CompraRequisicaoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Colaborador" nillable="true" type="tns:ColaboradorDTO" />
      <xs:element minOccurs="0" name="CompraTipoRequisicao" nillable="true" type="tns:CompraTipoRequisicaoDTO" />
      <xs:element minOccurs="0" name="DataRequisicao" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ListaCompraRequisicaoDetalhe" nillable="true" type="tns:ArrayOfCompraRequisicaoDetalheDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompraRequisicaoDTO" nillable="true" type="tns:CompraRequisicaoDTO" />
  <xs:complexType name="ColaboradorDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CagedAprendiz" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CagedDeficiencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CategoriaSefip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClassificacaoContabilConta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoAdmissaoCaged" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoDemissaoCaged" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoDemissaoSefip" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoTurmaPonto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CtpsDataExpedicao" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CtpsNumero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CtpsSerie" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CtpsUf" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataAdmissao" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DataCadastro" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DataDemissao" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DataTransferencia" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DescontoPlanoSaude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExameMedicoUltimo" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExameMedicoVencimento" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FgtsConta" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FgtsDataOpcao" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FgtsOptante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Foto34" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Matricula" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Observacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OcorrenciaSefip" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PagamentoAgencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PagamentoAgenciaDigito" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PagamentoBanco" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PagamentoConta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PagamentoContaDigito" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PagamentoForma" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pessoa" nillable="true" type="tns:PessoaDTO" />
      <xs:element minOccurs="0" name="PisAgencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PisAgenciaDigito" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PisBanco" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PisDataCadastro" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PisNumero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SaiNaRais" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VencimentoFerias" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ColaboradorDTO" nillable="true" type="tns:ColaboradorDTO" />
  <xs:complexType name="PessoaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Colaborador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fornecedor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Site" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Transportadora" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PessoaDTO" nillable="true" type="tns:PessoaDTO" />
  <xs:complexType name="ArrayOfCompraRequisicaoDetalheDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CompraRequisicaoDetalheDTO" nillable="true" type="tns:CompraRequisicaoDetalheDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompraRequisicaoDetalheDTO" nillable="true" type="tns:ArrayOfCompraRequisicaoDetalheDTO" />
  <xs:complexType name="CompraRequisicaoDetalheDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdCompraRequisicao" type="xs:int" />
      <xs:element minOccurs="0" name="ItemCotado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Produto" nillable="true" type="tns:ProdutoDTO" />
      <xs:element minOccurs="0" name="Quantidade" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="QuantidadeCotada" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompraRequisicaoDetalheDTO" nillable="true" type="tns:CompraRequisicaoDetalheDTO" />
  <xs:complexType name="ProdutoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AliquotaIcmsPaf" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="AliquotaIssqnPaf" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ClasseAbc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoBalanca" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoInterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoLst" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustoMedioLiquido" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CustoProducao" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CustoUnitario" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DataAlteracao" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DataCadastro" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescricaoPdv" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstoqueIdeal" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="EstoqueMaximo" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="EstoqueMinimo" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ExTipi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Excluido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gtin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Iat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Imagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Inativo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ippt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoteEconomicoCompra" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Markup" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Ncm" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Peso" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PontoPedido" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PorcentoComissao" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PrecoLucroMaximo" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PrecoLucroMinimo" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PrecoLucroZero" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PrecoSugerido" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PrecoVendaMinimo" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProdutoSubGrupo" nillable="true" type="tns:ProdutoSubGrupoDTO" />
      <xs:element minOccurs="0" name="QuantidadeEstoque" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="QuantidadeEstoqueAnterior" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Servico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoItemSped" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalizadorParcial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnidadeProduto" nillable="true" type="tns:UnidadeProdutoDTO" />
      <xs:element minOccurs="0" name="ValorCompra" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorVenda" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProdutoDTO" nillable="true" type="tns:ProdutoDTO" />
  <xs:complexType name="ProdutoSubGrupoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProdutoGrupo" nillable="true" type="tns:ProdutoGrupoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProdutoSubGrupoDTO" nillable="true" type="tns:ProdutoSubGrupoDTO" />
  <xs:complexType name="ProdutoGrupoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProdutoGrupoDTO" nillable="true" type="tns:ProdutoGrupoDTO" />
  <xs:complexType name="UnidadeProdutoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="PodeFracionar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sigla" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UnidadeProdutoDTO" nillable="true" type="tns:UnidadeProdutoDTO" />
  <xs:complexType name="ArrayOfCompraRequisicaoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CompraRequisicaoDTO" nillable="true" type="tns:CompraRequisicaoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompraRequisicaoDTO" nillable="true" type="tns:ArrayOfCompraRequisicaoDTO" />
  <xs:complexType name="CompraCotacaoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataCotacao" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Situacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="listaCotacaoDetalhe" nillable="true" type="tns:ArrayOfCompraCotacaoDetalheDTO" />
      <xs:element minOccurs="0" name="listaFornecedor" nillable="true" type="tns:ArrayOfCompraFornecedorCotacaoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompraCotacaoDTO" nillable="true" type="tns:CompraCotacaoDTO" />
  <xs:complexType name="ArrayOfCompraCotacaoDetalheDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CompraCotacaoDetalheDTO" nillable="true" type="tns:CompraCotacaoDetalheDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompraCotacaoDetalheDTO" nillable="true" type="tns:ArrayOfCompraCotacaoDetalheDTO" />
  <xs:complexType name="CompraCotacaoDetalheDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdCompraFornecedorCotacao" type="xs:int" />
      <xs:element minOccurs="0" name="Produto" nillable="true" type="tns:ProdutoDTO" />
      <xs:element minOccurs="0" name="Quantidade" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="QuantidadePedida" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TaxaDesconto" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorDesconto" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorSubtotal" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorTotal" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorUnitario" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompraCotacaoDetalheDTO" nillable="true" type="tns:CompraCotacaoDetalheDTO" />
  <xs:complexType name="ArrayOfCompraFornecedorCotacaoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CompraFornecedorCotacaoDTO" nillable="true" type="tns:CompraFornecedorCotacaoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompraFornecedorCotacaoDTO" nillable="true" type="tns:ArrayOfCompraFornecedorCotacaoDTO" />
  <xs:complexType name="CompraFornecedorCotacaoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Fornecedor" nillable="true" type="tns:ViewPessoaFornecedorDTO" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdCompraCotacao" type="xs:int" />
      <xs:element minOccurs="0" name="PrazoEntrega" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaxaDesconto" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Total" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorDesconto" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorSubtotal" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="VendaCondicoesPagamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="listaCotacaoCompraDetalhe" nillable="true" type="tns:ArrayOfCompraCotacaoDetalheDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompraFornecedorCotacaoDTO" nillable="true" type="tns:CompraFornecedorCotacaoDTO" />
  <xs:complexType name="ViewPessoaFornecedorDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bairro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cep" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChequeNominalA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cidade" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClassificacaoContabilConta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Complemento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContaRemetente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CpfCnpj" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataCadastro" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Desde" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fax" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GeraFaturamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdAtividadeForCli" type="xs:int" />
      <xs:element minOccurs="0" name="IdPessoa" type="xs:int" />
      <xs:element minOccurs="0" name="IdSituacaoForCli" type="xs:int" />
      <xs:element minOccurs="0" name="Localizacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Logradouro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MunicipioIbge" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumDiasIntervalo" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="NumDiasPrimeiroVencimento" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Numero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Observacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OptanteSimplesNacional" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrazoMedioEntrega" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="QuantidadeParcelas" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Site" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SofreRetencao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Uf" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ViewPessoaFornecedorDTO" nillable="true" type="tns:ViewPessoaFornecedorDTO" />
  <xs:complexType name="ArrayOfCompraCotacaoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CompraCotacaoDTO" nillable="true" type="tns:CompraCotacaoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompraCotacaoDTO" nillable="true" type="tns:ArrayOfCompraCotacaoDTO" />
  <xs:complexType name="CompraPedidoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="BaseCalculoIcms" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="BaseCalculoIcmsSt" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CompraTipoPedido" nillable="true" type="tns:CompraTipoPedidoDTO" />
      <xs:element minOccurs="0" name="Contato" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataPedido" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DataPrevisaoPagamento" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DataPrevistaEntrega" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DiasIntervalo" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DiasPrimeiroVencimento" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FormaPagamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fornecedor" nillable="true" type="tns:ViewPessoaFornecedorDTO" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LocalCobranca" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocalEntrega" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QuantidadeParcelas" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TaxaDesconto" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TipoFrete" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValorDesconto" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorFrete" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorIcms" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorIcmsSt" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorIpi" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorOutrasDespesas" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorSeguro" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorSubtotal" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorTotalNf" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorTotalPedido" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorTotalProdutos" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="listaPedidoCompraDetalhe" nillable="true" type="tns:ArrayOfCompraPedidoDetalheDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompraPedidoDTO" nillable="true" type="tns:CompraPedidoDTO" />
  <xs:complexType name="ArrayOfCompraPedidoDetalheDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CompraPedidoDetalheDTO" nillable="true" type="tns:CompraPedidoDetalheDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompraPedidoDetalheDTO" nillable="true" type="tns:ArrayOfCompraPedidoDetalheDTO" />
  <xs:complexType name="CompraPedidoDetalheDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AliquotaIcms" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="AliquotaIpi" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="BaseCalculoIcms" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Cfop" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CstCsosn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdCompraPedido" type="xs:int" />
      <xs:element minOccurs="0" name="Produto" nillable="true" type="tns:ProdutoDTO" />
      <xs:element minOccurs="0" name="Quantidade" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TaxaDesconto" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorDesconto" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorIcms" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorIpi" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorSubtotal" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorTotal" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorUnitario" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompraPedidoDetalheDTO" nillable="true" type="tns:CompraPedidoDetalheDTO" />
  <xs:complexType name="ArrayOfCompraPedidoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CompraPedidoDTO" nillable="true" type="tns:CompraPedidoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompraPedidoDTO" nillable="true" type="tns:ArrayOfCompraPedidoDTO" />
  <xs:complexType name="ContabilContaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Classificacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoEfd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoReduzido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContabilConta" nillable="true" type="tns:ContabilContaDTO" />
      <xs:element minOccurs="0" name="DataInclusao" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dfc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LivroCaixa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Natureza" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ordem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PatrimonioResultado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Situacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContabilContaDTO" nillable="true" type="tns:ContabilContaDTO" />
  <xs:complexType name="ArrayOfContabilContaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContabilContaDTO" nillable="true" type="tns:ContabilContaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContabilContaDTO" nillable="true" type="tns:ArrayOfContabilContaDTO" />
  <xs:complexType name="UsuarioDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Administrador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataCadastro" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdColaborador" type="xs:int" />
      <xs:element minOccurs="0" name="IdPapel" type="xs:int" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Senha" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsuarioDTO" nillable="true" type="tns:UsuarioDTO" />
  <xs:complexType name="ViewControleAcessoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Formulario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Habilitado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdFuncao" type="xs:int" />
      <xs:element minOccurs="0" name="IdPapel" type="xs:int" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ViewControleAcessoDTO" nillable="true" type="tns:ViewControleAcessoDTO" />
  <xs:complexType name="ArrayOfViewControleAcessoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ViewControleAcessoDTO" nillable="true" type="tns:ViewControleAcessoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfViewControleAcessoDTO" nillable="true" type="tns:ArrayOfViewControleAcessoDTO" />
  <xs:complexType name="ArrayOfColaboradorDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ColaboradorDTO" nillable="true" type="tns:ColaboradorDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfColaboradorDTO" nillable="true" type="tns:ArrayOfColaboradorDTO" />
  <xs:complexType name="ArrayOfProdutoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProdutoDTO" nillable="true" type="tns:ProdutoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProdutoDTO" nillable="true" type="tns:ArrayOfProdutoDTO" />
  <xs:complexType name="ArrayOfViewPessoaFornecedorDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ViewPessoaFornecedorDTO" nillable="true" type="tns:ViewPessoaFornecedorDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfViewPessoaFornecedorDTO" nillable="true" type="tns:ArrayOfViewPessoaFornecedorDTO" />
</xs:schema>