Retaguarda/Financeiro/Contas a Pagar/Cliente/ContasPagarClient/Service References/ContasPagarService/ContasPagarService32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2670/ContasPagarService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ContasPagarService.Model" />
  <xs:element name="deletePlanoNaturezaFinanceira">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ContasPagarService.Model" minOccurs="0" name="planoNaturezaFinanceira" nillable="true" type="q1:PlanoNaturezaFinanceiraDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deletePlanoNaturezaFinanceiraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deletePlanoNaturezaFinanceiraResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="salvarAtualizarPlanoNaturezaFinanceira">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ContasPagarService.Model" minOccurs="0" name="planoNaturezaFinanceira" nillable="true" type="q2:PlanoNaturezaFinanceiraDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="salvarAtualizarPlanoNaturezaFinanceiraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ContasPagarService.Model" minOccurs="0" name="salvarAtualizarPlanoNaturezaFinanceiraResult" nillable="true" type="q3:PlanoNaturezaFinanceiraDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectPlanoNaturezaFinanceira">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ContasPagarService.Model" minOccurs="0" name="planoNaturezaFinanceira" nillable="true" type="q4:PlanoNaturezaFinanceiraDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectPlanoNaturezaFinanceiraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ContasPagarService.Model" minOccurs="0" name="selectPlanoNaturezaFinanceiraResult" nillable="true" type="q5:ArrayOfPlanoNaturezaFinanceiraDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectPlanoNaturezaFinanceiraPagina">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="primeiroResultado" type="xs:int" />
        <xs:element minOccurs="0" name="quantidadeResultados" type="xs:int" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ContasPagarService.Model" minOccurs="0" name="planoNaturezaFinanceira" nillable="true" type="q6:PlanoNaturezaFinanceiraDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectPlanoNaturezaFinanceiraPaginaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ContasPagarService.Model" minOccurs="0" name="selectPlanoNaturezaFinanceiraPaginaResult" nillable="true" type="q7:ArrayOfPlanoNaturezaFinanceiraDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteNaturezaFinanceira">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ContasPagarService.Model" minOccurs="0" name="naturezaFinanceira" nillable="true" type="q8:NaturezaFinanceiraDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteNaturezaFinanceiraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteNaturezaFinanceiraResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="salvarAtualizarNaturezaFinanceira">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ContasPagarService.Model" minOccurs="0" name="naturezaFinanceira" nillable="true" type="q9:NaturezaFinanceiraDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="salvarAtualizarNaturezaFinanceiraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ContasPagarService.Model" minOccurs="0" name="salvarAtualizarNaturezaFinanceiraResult" nillable="true" type="q10:NaturezaFinanceiraDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectNaturezaFinanceira">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ContasPagarService.Model" minOccurs="0" name="naturezaFinanceira" nillable="true" type="q11:NaturezaFinanceiraDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectNaturezaFinanceiraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ContasPagarService.Model" minOccurs="0" name="selectNaturezaFinanceiraResult" nillable="true" type="q12:ArrayOfNaturezaFinanceiraDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectNaturezaFinanceiraPagina">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="primeiroResultado" type="xs:int" />
        <xs:element minOccurs="0" name="quantidadeResultados" type="xs:int" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ContasPagarService.Model" minOccurs="0" name="naturezaFinanceira" nillable="true" type="q13:NaturezaFinanceiraDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectNaturezaFinanceiraPaginaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ContasPagarService.Model" minOccurs="0" name="selectNaturezaFinanceiraPaginaResult" nillable="true" type="q14:ArrayOfNaturezaFinanceiraDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteFinStatusParcela">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ContasPagarService.Model" minOccurs="0" name="finStatusParcela" nillable="true" type="q15:FinStatusParcelaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteFinStatusParcelaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteFinStatusParcelaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="salvarAtualizarFinStatusParcela">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/ContasPagarService.Model" minOccurs="0" name="finStatusParcela" nillable="true" type="q16:FinStatusParcelaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="salvarAtualizarFinStatusParcelaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/ContasPagarService.Model" minOccurs="0" name="salvarAtualizarFinStatusParcelaResult" nillable="true" type="q17:FinStatusParcelaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectFinStatusParcela">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/ContasPagarService.Model" minOccurs="0" name="finStatusParcela" nillable="true" type="q18:FinStatusParcelaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectFinStatusParcelaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/ContasPagarService.Model" minOccurs="0" name="selectFinStatusParcelaResult" nillable="true" type="q19:ArrayOfFinStatusParcelaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectFinStatusParcelaPagina">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="primeiroResultado" type="xs:int" />
        <xs:element minOccurs="0" name="quantidadeResultados" type="xs:int" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/ContasPagarService.Model" minOccurs="0" name="finStatusParcela" nillable="true" type="q20:FinStatusParcelaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectFinStatusParcelaPaginaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/ContasPagarService.Model" minOccurs="0" name="selectFinStatusParcelaPaginaResult" nillable="true" type="q21:ArrayOfFinStatusParcelaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteFinTipoPagamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/ContasPagarService.Model" minOccurs="0" name="finTipoPagamento" nillable="true" type="q22:FinTipoPagamentoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteFinTipoPagamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteFinTipoPagamentoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="salvarAtualizarFinTipoPagamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/ContasPagarService.Model" minOccurs="0" name="finTipoPagamento" nillable="true" type="q23:FinTipoPagamentoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="salvarAtualizarFinTipoPagamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/ContasPagarService.Model" minOccurs="0" name="salvarAtualizarFinTipoPagamentoResult" nillable="true" type="q24:FinTipoPagamentoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectFinTipoPagamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/ContasPagarService.Model" minOccurs="0" name="finTipoPagamento" nillable="true" type="q25:FinTipoPagamentoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectFinTipoPagamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/ContasPagarService.Model" minOccurs="0" name="selectFinTipoPagamentoResult" nillable="true" type="q26:ArrayOfFinTipoPagamentoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectFinTipoPagamentoPagina">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="primeiroResultado" type="xs:int" />
        <xs:element minOccurs="0" name="quantidadeResultados" type="xs:int" />
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/ContasPagarService.Model" minOccurs="0" name="finTipoPagamento" nillable="true" type="q27:FinTipoPagamentoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectFinTipoPagamentoPaginaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/ContasPagarService.Model" minOccurs="0" name="selectFinTipoPagamentoPaginaResult" nillable="true" type="q28:ArrayOfFinTipoPagamentoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteFinDocumentoOrigem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/ContasPagarService.Model" minOccurs="0" name="finDocumentoOrigem" nillable="true" type="q29:FinDocumentoOrigemDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteFinDocumentoOrigemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteFinDocumentoOrigemResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="salvarAtualizarFinDocumentoOrigem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/ContasPagarService.Model" minOccurs="0" name="finDocumentoOrigem" nillable="true" type="q30:FinDocumentoOrigemDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="salvarAtualizarFinDocumentoOrigemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/ContasPagarService.Model" minOccurs="0" name="salvarAtualizarFinDocumentoOrigemResult" nillable="true" type="q31:FinDocumentoOrigemDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectFinDocumentoOrigem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/ContasPagarService.Model" minOccurs="0" name="finDocumentoOrigem" nillable="true" type="q32:FinDocumentoOrigemDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectFinDocumentoOrigemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/ContasPagarService.Model" minOccurs="0" name="selectFinDocumentoOrigemResult" nillable="true" type="q33:ArrayOfFinDocumentoOrigemDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectFinDocumentoOrigemPagina">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="primeiroResultado" type="xs:int" />
        <xs:element minOccurs="0" name="quantidadeResultados" type="xs:int" />
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/ContasPagarService.Model" minOccurs="0" name="finDocumentoOrigem" nillable="true" type="q34:FinDocumentoOrigemDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectFinDocumentoOrigemPaginaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/ContasPagarService.Model" minOccurs="0" name="selectFinDocumentoOrigemPaginaResult" nillable="true" type="q35:ArrayOfFinDocumentoOrigemDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteFinLancamentoPagar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/ContasPagarService.Model" minOccurs="0" name="finLancamentoPagar" nillable="true" type="q36:FinLancamentoPagarDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteFinLancamentoPagarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteFinLancamentoPagarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="salvarAtualizarFinLancamentoPagar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/ContasPagarService.Model" minOccurs="0" name="finLancamentoPagar" nillable="true" type="q37:FinLancamentoPagarDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="salvarAtualizarFinLancamentoPagarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/ContasPagarService.Model" minOccurs="0" name="salvarAtualizarFinLancamentoPagarResult" nillable="true" type="q38:FinLancamentoPagarDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectFinLancamentoPagar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/ContasPagarService.Model" minOccurs="0" name="finLancamentoPagar" nillable="true" type="q39:FinLancamentoPagarDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectFinLancamentoPagarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/ContasPagarService.Model" minOccurs="0" name="selectFinLancamentoPagarResult" nillable="true" type="q40:ArrayOfFinLancamentoPagarDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectFinLancamentoPagarPagina">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="primeiroResultado" type="xs:int" />
        <xs:element minOccurs="0" name="quantidadeResultados" type="xs:int" />
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/ContasPagarService.Model" minOccurs="0" name="finLancamentoPagar" nillable="true" type="q41:FinLancamentoPagarDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectFinLancamentoPagarPaginaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/ContasPagarService.Model" minOccurs="0" name="selectFinLancamentoPagarPaginaResult" nillable="true" type="q42:ArrayOfFinLancamentoPagarDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="salvarAtualizarViewFinLancamentoPagar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/ContasPagarService.Model" minOccurs="0" name="viewFinLancamentoPagar" nillable="true" type="q43:ViewFinLancamentoPagarDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="salvarAtualizarViewFinLancamentoPagarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/ContasPagarService.Model" minOccurs="0" name="salvarAtualizarViewFinLancamentoPagarResult" nillable="true" type="q44:ViewFinLancamentoPagarDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectViewFinLancamentoPagar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/ContasPagarService.Model" minOccurs="0" name="viewFinLancamentoPagar" nillable="true" type="q45:ViewFinLancamentoPagarDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectViewFinLancamentoPagarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/ContasPagarService.Model" minOccurs="0" name="selectViewFinLancamentoPagarResult" nillable="true" type="q46:ArrayOfViewFinLancamentoPagarDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectViewFinLancamentoPagarPagina">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="primeiroResultado" type="xs:int" />
        <xs:element minOccurs="0" name="quantidadeResultados" type="xs:int" />
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/ContasPagarService.Model" minOccurs="0" name="viewFinLancamentoPagar" nillable="true" type="q47:ViewFinLancamentoPagarDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectViewFinLancamentoPagarPaginaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/ContasPagarService.Model" minOccurs="0" name="selectViewFinLancamentoPagarPaginaResult" nillable="true" type="q48:ArrayOfViewFinLancamentoPagarDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectContabilConta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/ContasPagarService.Model" minOccurs="0" name="contabilConta" nillable="true" type="q49:ContabilContaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectContabilContaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/ContasPagarService.Model" minOccurs="0" name="selectContabilContaResult" nillable="true" type="q50:ArrayOfContabilContaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectContabilContaPagina">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="primeiroResultado" type="xs:int" />
        <xs:element minOccurs="0" name="quantidadeResultados" type="xs:int" />
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/ContasPagarService.Model" minOccurs="0" name="contabilConta" nillable="true" type="q51:ContabilContaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectContabilContaPaginaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/ContasPagarService.Model" minOccurs="0" name="selectContabilContaPaginaResult" nillable="true" type="q52:ArrayOfContabilContaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="senha" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/ContasPagarService.Model" minOccurs="0" name="selectUsuarioResult" nillable="true" type="q53:UsuarioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectControleAcesso">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/ContasPagarService.Model" minOccurs="0" name="viewControleAcesso" nillable="true" type="q54:ViewControleAcessoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectControleAcessoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/ContasPagarService.Model" minOccurs="0" name="selectControleAcessoResult" nillable="true" type="q55:ArrayOfViewControleAcessoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectContaCaixa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/ContasPagarService.Model" minOccurs="0" name="contaCaixa" nillable="true" type="q56:ContaCaixaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectContaCaixaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/ContasPagarService.Model" minOccurs="0" name="selectContaCaixaResult" nillable="true" type="q57:ArrayOfContaCaixaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectContaCaixaPagina">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="primeiroResultado" type="xs:int" />
        <xs:element minOccurs="0" name="quantidadeResultados" type="xs:int" />
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/ContasPagarService.Model" minOccurs="0" name="contaCaixa" nillable="true" type="q58:ContaCaixaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectContaCaixaPaginaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/ContasPagarService.Model" minOccurs="0" name="selectContaCaixaPaginaResult" nillable="true" type="q59:ArrayOfContaCaixaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectViewPessoaFornecedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/ContasPagarService.Model" minOccurs="0" name="viewPessoaFornecedor" nillable="true" type="q60:ViewPessoaFornecedorDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectViewPessoaFornecedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/ContasPagarService.Model" minOccurs="0" name="selectViewPessoaFornecedorResult" nillable="true" type="q61:ArrayOfViewPessoaFornecedorDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectViewPessoaFornecedorPagina">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="primeiroResultado" type="xs:int" />
        <xs:element minOccurs="0" name="quantidadeResultados" type="xs:int" />
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/ContasPagarService.Model" minOccurs="0" name="viewPessoaFornecedor" nillable="true" type="q62:ViewPessoaFornecedorDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectViewPessoaFornecedorPaginaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/ContasPagarService.Model" minOccurs="0" name="selectViewPessoaFornecedorPaginaResult" nillable="true" type="q63:ArrayOfViewPessoaFornecedorDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>