Retaguarda/Controle de Orçamentos/Cliente/OrcamentoClient/Service References/OrcamentoReference/Service31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2665/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OrcamentoService.Model" />
  <xs:element name="selectPeriodo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/OrcamentoService.Model" minOccurs="0" name="periodo" nillable="true" type="q1:OrcamentoPeriodoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectPeriodoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/OrcamentoService.Model" minOccurs="0" name="selectPeriodoResult" nillable="true" type="q2:ArrayOfOrcamentoPeriodoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectNaturezaFinanceira">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/OrcamentoService.Model" minOccurs="0" name="naturezaFinanceira" nillable="true" type="q3:NaturezaFinanceiraDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectNaturezaFinanceiraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/OrcamentoService.Model" minOccurs="0" name="selectNaturezaFinanceiraResult" nillable="true" type="q4:ArrayOfNaturezaFinanceiraDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectLancamentosPagar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dataInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dataFim" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectLancamentosPagarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/OrcamentoService.Model" minOccurs="0" name="selectLancamentosPagarResult" nillable="true" type="q5:ArrayOfParcelaPagarDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectLancamentosReceber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dataInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dataFim" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectLancamentosReceberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/OrcamentoService.Model" minOccurs="0" name="selectLancamentosReceberResult" nillable="true" type="q6:ArrayOfParcelaReceberDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectOrcamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/OrcamentoService.Model" minOccurs="0" name="orcamento" nillable="true" type="q7:OrcamentoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectOrcamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/OrcamentoService.Model" minOccurs="0" name="selectOrcamentoResult" nillable="true" type="q8:ArrayOfOrcamentoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectOrcamentoCompleto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/OrcamentoService.Model" minOccurs="0" name="orcamento" nillable="true" type="q9:OrcamentoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectOrcamentoCompletoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/OrcamentoService.Model" minOccurs="0" name="selectOrcamentoCompletoResult" nillable="true" type="q10:OrcamentoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveOrcamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/OrcamentoService.Model" minOccurs="0" name="orcamento" nillable="true" type="q11:OrcamentoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveOrcamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/OrcamentoService.Model" minOccurs="0" name="saveOrcamentoResult" nillable="true" type="q12:OrcamentoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="senha" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/OrcamentoService.Model" minOccurs="0" name="selectUsuarioResult" nillable="true" type="q13:UsuarioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectControleAcesso">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/OrcamentoService.Model" minOccurs="0" name="viewControleAcesso" nillable="true" type="q14:ViewControleAcessoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectControleAcessoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/OrcamentoService.Model" minOccurs="0" name="selectControleAcessoResult" nillable="true" type="q15:ArrayOfViewControleAcessoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectEmpresaId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectEmpresaIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/OrcamentoService.Model" minOccurs="0" name="selectEmpresaIdResult" nillable="true" type="q16:EmpresaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>