Retaguarda/Conc Cont/Cliente/C/Service References/ServicoConciliacaoContabilReference/ServicoConciliacaoContabil3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ConciliacaoContabilService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ConciliacaoContabilService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ContaCaixaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgenciaBanco" nillable="true" type="tns:AgenciaBancoDTO" />
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContabilConta" nillable="true" type="tns:ContabilContaDTO" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Digito" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Empresa" nillable="true" type="tns:EmpresaDTO" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContaCaixaDTO" nillable="true" type="tns:ContaCaixaDTO" />
  <xs:complexType name="AgenciaBancoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bairro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Banco" nillable="true" type="tns:BancoDTO" />
      <xs:element minOccurs="0" name="Cep" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contato" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Digito" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gerente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Logradouro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Municipio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Observacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Uf" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AgenciaBancoDTO" nillable="true" type="tns:AgenciaBancoDTO" />
  <xs:complexType name="BancoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BancoDTO" nillable="true" type="tns:BancoDTO" />
  <xs:complexType name="ContabilContaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Classificacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoEfd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoReduzido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContabilConta" nillable="true" type="tns:ContabilContaDTO" />
      <xs:element minOccurs="0" name="DataInclusao" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dfc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LivroCaixa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Natureza" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ordem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PatrimonioResultado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlanoConta" nillable="true" type="tns:PlanoContaDTO" />
      <xs:element minOccurs="0" name="PlanoContaRefSped" nillable="true" type="tns:PlanoContaRefSpedDTO" />
      <xs:element minOccurs="0" name="Situacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContabilContaDTO" nillable="true" type="tns:ContabilContaDTO" />
  <xs:complexType name="PlanoContaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataInclusao" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdEmpresa" type="xs:int" />
      <xs:element minOccurs="0" name="Mascara" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Niveis" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlanoContaDTO" nillable="true" type="tns:PlanoContaDTO" />
  <xs:complexType name="PlanoContaRefSpedDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodCtaRef" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FimValidade" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="InicioValidade" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Orientacoes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlanoContaRefSpedDTO" nillable="true" type="tns:PlanoContaRefSpedDTO" />
  <xs:complexType name="EmpresaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AliquotaCofins" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AliquotaPis" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AliquotaSat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cnpj" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoGps" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoIbgeCidade" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoIbgeUf" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoTerceiros" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contato" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Crt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataCadastro" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DataInicioAtividades" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DataInscJuntaComercial" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ImagemLogotipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InscricaoEstadual" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InscricaoEstadualSt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InscricaoJuntaComercial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InscricaoMunicipal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NomeFantasia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RazaoSocial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Suframa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoRegime" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmpresaDTO" nillable="true" type="tns:EmpresaDTO" />
  <xs:complexType name="ArrayOfContaCaixaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContaCaixaDTO" nillable="true" type="tns:ContaCaixaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContaCaixaDTO" nillable="true" type="tns:ArrayOfContaCaixaDTO" />
  <xs:complexType name="FinExtratoContaBancoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ano" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Conciliado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContaCaixa" nillable="true" type="tns:ContaCaixaDTO" />
      <xs:element minOccurs="0" name="DataBalancete" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DataMovimento" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Documento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Historico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Mes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MesAno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Observacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valor" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FinExtratoContaBancoDTO" nillable="true" type="tns:FinExtratoContaBancoDTO" />
  <xs:complexType name="ArrayOfFinExtratoContaBancoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FinExtratoContaBancoDTO" nillable="true" type="tns:FinExtratoContaBancoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFinExtratoContaBancoDTO" nillable="true" type="tns:ArrayOfFinExtratoContaBancoDTO" />
  <xs:complexType name="ContabilLancamentoDetalheDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContabilConta" nillable="true" type="tns:ContabilContaDTO" />
      <xs:element minOccurs="0" name="ContabilHistorico" nillable="true" type="tns:ContabilHistoricoDTO" />
      <xs:element minOccurs="0" name="Historico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdContabilLancamentoCabecalho" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valor" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContabilLancamentoDetalheDTO" nillable="true" type="tns:ContabilLancamentoDetalheDTO" />
  <xs:complexType name="ContabilHistoricoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Empresa" nillable="true" type="tns:EmpresaDTO" />
      <xs:element minOccurs="0" name="Historico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="PedeComplemento" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContabilHistoricoDTO" nillable="true" type="tns:ContabilHistoricoDTO" />
  <xs:complexType name="ArrayOfContabilLancamentoDetalheDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContabilLancamentoDetalheDTO" nillable="true" type="tns:ContabilLancamentoDetalheDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContabilLancamentoDetalheDTO" nillable="true" type="tns:ArrayOfContabilLancamentoDetalheDTO" />
  <xs:complexType name="ClienteDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContaTomador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContabilConta" nillable="true" type="tns:ContabilContaDTO" />
      <xs:element minOccurs="0" name="DataCadastro" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Desde" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FormaDesconto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GeraFinanceiro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IndicadorPreco" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LimiteCredito" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Observacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pessoa" nillable="true" type="tns:PessoaDTO" />
      <xs:element minOccurs="0" name="PorcentoDesconto" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TipoFrete" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClienteDTO" nillable="true" type="tns:ClienteDTO" />
  <xs:complexType name="PessoaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Colaborador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Convenio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fornecedor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Site" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Transportadora" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PessoaDTO" nillable="true" type="tns:PessoaDTO" />
  <xs:complexType name="ArrayOfClienteDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClienteDTO" nillable="true" type="tns:ClienteDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClienteDTO" nillable="true" type="tns:ArrayOfClienteDTO" />
  <xs:complexType name="ViewConciliaClienteDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataRecebimento" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Historico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdCliente" type="xs:int" />
      <xs:element minOccurs="0" name="IdContaCaixa" type="xs:int" />
      <xs:element minOccurs="0" name="IdFinParcelaReceber" type="xs:int" />
      <xs:element minOccurs="0" name="IdFinTipoRecebimento" type="xs:int" />
      <xs:element minOccurs="0" name="TaxaDesconto" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TaxaJuro" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TaxaMulta" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorDesconto" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorJuro" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorMulta" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorRecebido" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ViewConciliaClienteDTO" nillable="true" type="tns:ViewConciliaClienteDTO" />
  <xs:complexType name="ArrayOfViewConciliaClienteDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ViewConciliaClienteDTO" nillable="true" type="tns:ViewConciliaClienteDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfViewConciliaClienteDTO" nillable="true" type="tns:ArrayOfViewConciliaClienteDTO" />
  <xs:complexType name="FornecedorDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChequeNominalA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContaRemetente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContabilConta" nillable="true" type="tns:ContabilContaDTO" />
      <xs:element minOccurs="0" name="DataCadastro" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Desde" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GeraFaturamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Localizacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumDiasIntervalo" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="NumDiasPrimeiroVencimento" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Observacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OptanteSimplesNacional" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pessoa" nillable="true" type="tns:PessoaDTO" />
      <xs:element minOccurs="0" name="PrazoMedioEntrega" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="QuantidadeParcelas" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SofreRetencao" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FornecedorDTO" nillable="true" type="tns:FornecedorDTO" />
  <xs:complexType name="ArrayOfFornecedorDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FornecedorDTO" nillable="true" type="tns:FornecedorDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFornecedorDTO" nillable="true" type="tns:ArrayOfFornecedorDTO" />
  <xs:complexType name="ViewConciliaFornecedorDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataPagamento" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Historico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdContaCaixa" type="xs:int" />
      <xs:element minOccurs="0" name="IdFinParcelaPagar" type="xs:int" />
      <xs:element minOccurs="0" name="IdFinTipoPagamento" type="xs:int" />
      <xs:element minOccurs="0" name="IdFornecedor" type="xs:int" />
      <xs:element minOccurs="0" name="TaxaDesconto" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TaxaJuro" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TaxaMulta" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorDesconto" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorJuro" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorMulta" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorPago" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ViewConciliaFornecedorDTO" nillable="true" type="tns:ViewConciliaFornecedorDTO" />
  <xs:complexType name="ArrayOfViewConciliaFornecedorDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ViewConciliaFornecedorDTO" nillable="true" type="tns:ViewConciliaFornecedorDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfViewConciliaFornecedorDTO" nillable="true" type="tns:ArrayOfViewConciliaFornecedorDTO" />
  <xs:complexType name="ContabilLancamentoCabecalhoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContabilLote" nillable="true" type="tns:ContabilLoteDTO" />
      <xs:element minOccurs="0" name="DataInclusao" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DataLancamento" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Empresa" nillable="true" type="tns:EmpresaDTO" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Liberado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ListaContabilLancamentoDetalhe" nillable="true" type="tns:ArrayOfContabilLancamentoDetalheDTO" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valor" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContabilLancamentoCabecalhoDTO" nillable="true" type="tns:ContabilLancamentoCabecalhoDTO" />
  <xs:complexType name="ContabilLoteDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataInclusao" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DataLiberacao" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Liberado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Programado" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContabilLoteDTO" nillable="true" type="tns:ContabilLoteDTO" />
  <xs:complexType name="ArrayOfContabilLancamentoCabecalhoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContabilLancamentoCabecalhoDTO" nillable="true" type="tns:ContabilLancamentoCabecalhoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContabilLancamentoCabecalhoDTO" nillable="true" type="tns:ArrayOfContabilLancamentoCabecalhoDTO" />
  <xs:complexType name="UsuarioDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Administrador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataCadastro" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdColaborador" type="xs:int" />
      <xs:element minOccurs="0" name="IdPapel" type="xs:int" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Senha" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsuarioDTO" nillable="true" type="tns:UsuarioDTO" />
  <xs:complexType name="ViewControleAcessoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Formulario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Habilitado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdFuncao" type="xs:int" />
      <xs:element minOccurs="0" name="IdPapel" type="xs:int" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ViewControleAcessoDTO" nillable="true" type="tns:ViewControleAcessoDTO" />
  <xs:complexType name="ArrayOfViewControleAcessoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ViewControleAcessoDTO" nillable="true" type="tns:ViewControleAcessoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfViewControleAcessoDTO" nillable="true" type="tns:ArrayOfViewControleAcessoDTO" />
</xs:schema>