Retaguarda/Contratos/Cliente/ContratosClient/Service References/GEDServiceReference/GEDService51.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GEDService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GEDService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2674/GEDService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.IO" />
  <xs:complexType name="GedTipoDocumentoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Empresa" nillable="true" type="tns:EmpresaDTO" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TamanhoMaximo" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GedTipoDocumentoDTO" nillable="true" type="tns:GedTipoDocumentoDTO" />
  <xs:complexType name="EmpresaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AliquotaCofins" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AliquotaPis" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AliquotaSat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cnpj" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoGps" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoIbgeCidade" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoIbgeUf" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoTerceiros" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contato" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Crt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataCadastro" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DataInicioAtividades" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DataInscJuntaComercial" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ImagemLogotipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InscricaoEstadual" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InscricaoEstadualSt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InscricaoJuntaComercial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InscricaoMunicipal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NomeFantasia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RazaoSocial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Suframa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoRegime" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmpresaDTO" nillable="true" type="tns:EmpresaDTO" />
  <xs:complexType name="ArrayOfGedTipoDocumentoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GedTipoDocumentoDTO" nillable="true" type="tns:GedTipoDocumentoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGedTipoDocumentoDTO" nillable="true" type="tns:ArrayOfGedTipoDocumentoDTO" />
  <xs:complexType name="GedDocumentoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Assinado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataExclusao" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DataFimVigencia" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Empresa" nillable="true" type="tns:EmpresaDTO" />
      <xs:element minOccurs="0" name="GedTipoDocumento" nillable="true" type="tns:GedTipoDocumentoDTO" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PalavraChave" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PodeAlterar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PodeExcluir" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="arquivo" nillable="true" type="tns:ArquivoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GedDocumentoDTO" nillable="true" type="tns:GedDocumentoDTO" />
  <xs:complexType name="ArquivoDTO">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.IO" minOccurs="0" name="fileInfo" nillable="true" type="q1:FileInfo" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.IO" minOccurs="0" name="memoryStream" nillable="true" type="q2:MemoryStream" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System.IO" minOccurs="0" name="streamAssinatura" nillable="true" type="q3:MemoryStream" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArquivoDTO" nillable="true" type="tns:ArquivoDTO" />
  <xs:complexType name="ArrayOfGedDocumentoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GedDocumentoDTO" nillable="true" type="tns:GedDocumentoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGedDocumentoDTO" nillable="true" type="tns:ArrayOfGedDocumentoDTO" />
  <xs:complexType name="GedVersaoDocumentoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Acao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Caminho" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataHora" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HashArquivo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdColaborador" type="xs:int" />
      <xs:element minOccurs="0" name="IdDocumento" type="xs:int" />
      <xs:element minOccurs="0" name="Versao" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GedVersaoDocumentoDTO" nillable="true" type="tns:GedVersaoDocumentoDTO" />
  <xs:complexType name="ArrayOfGedVersaoDocumentoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GedVersaoDocumentoDTO" nillable="true" type="tns:GedVersaoDocumentoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGedVersaoDocumentoDTO" nillable="true" type="tns:ArrayOfGedVersaoDocumentoDTO" />
  <xs:complexType name="UsuarioDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Administrador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataCadastro" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdColaborador" type="xs:int" />
      <xs:element minOccurs="0" name="IdPapel" type="xs:int" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Senha" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsuarioDTO" nillable="true" type="tns:UsuarioDTO" />
  <xs:complexType name="ViewControleAcessoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Formulario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Habilitado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdFuncao" type="xs:int" />
      <xs:element minOccurs="0" name="IdPapel" type="xs:int" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ViewControleAcessoDTO" nillable="true" type="tns:ViewControleAcessoDTO" />
  <xs:complexType name="ArrayOfViewControleAcessoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ViewControleAcessoDTO" nillable="true" type="tns:ViewControleAcessoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfViewControleAcessoDTO" nillable="true" type="tns:ArrayOfViewControleAcessoDTO" />
</xs:schema>