Retaguarda/GED/Cliente/GEDClient/Service References/GEDServiceReference/GEDService42.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2674/GEDService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GEDService.Model" />
  <xs:element name="deleteGedTipoDocumento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GEDService.Model" minOccurs="0" name="gedTipoDocumento" nillable="true" type="q1:GedTipoDocumentoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteGedTipoDocumentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteGedTipoDocumentoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="salvarAtualizarGedTipoDocumento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GEDService.Model" minOccurs="0" name="gedTipoDocumento" nillable="true" type="q2:GedTipoDocumentoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="salvarAtualizarGedTipoDocumentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GEDService.Model" minOccurs="0" name="salvarAtualizarGedTipoDocumentoResult" nillable="true" type="q3:GedTipoDocumentoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectGedTipoDocumento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GEDService.Model" minOccurs="0" name="gedTipoDocumento" nillable="true" type="q4:GedTipoDocumentoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectGedTipoDocumentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/GEDService.Model" minOccurs="0" name="selectGedTipoDocumentoResult" nillable="true" type="q5:ArrayOfGedTipoDocumentoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectGedTipoDocumentoPagina">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="primeiroResultado" type="xs:int" />
        <xs:element minOccurs="0" name="quantidadeResultados" type="xs:int" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/GEDService.Model" minOccurs="0" name="gedTipoDocumento" nillable="true" type="q6:GedTipoDocumentoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectGedTipoDocumentoPaginaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/GEDService.Model" minOccurs="0" name="selectGedTipoDocumentoPaginaResult" nillable="true" type="q7:ArrayOfGedTipoDocumentoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveDocumento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/GEDService.Model" minOccurs="0" name="documento" nillable="true" type="q8:GedDocumentoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveDocumentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/GEDService.Model" minOccurs="0" name="saveDocumentoResult" nillable="true" type="q9:GedDocumentoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateDocumento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/GEDService.Model" minOccurs="0" name="documento" nillable="true" type="q10:GedDocumentoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateDocumentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/GEDService.Model" minOccurs="0" name="updateDocumentoResult" nillable="true" type="q11:GedDocumentoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteDocumento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/GEDService.Model" minOccurs="0" name="documento" nillable="true" type="q12:GedDocumentoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteDocumentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteDocumentoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectDocumento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/GEDService.Model" minOccurs="0" name="documento" nillable="true" type="q13:GedDocumentoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectDocumentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/GEDService.Model" minOccurs="0" name="selectDocumentoResult" nillable="true" type="q14:ArrayOfGedDocumentoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectDocumentoId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/GEDService.Model" minOccurs="0" name="documento" nillable="true" type="q15:GedDocumentoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectDocumentoIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/GEDService.Model" minOccurs="0" name="selectDocumentoIdResult" nillable="true" type="q16:GedDocumentoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteGedVersaoDocumento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/GEDService.Model" minOccurs="0" name="gedVersaoDocumento" nillable="true" type="q17:GedVersaoDocumentoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteGedVersaoDocumentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteGedVersaoDocumentoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="salvarAtualizarGedVersaoDocumento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/GEDService.Model" minOccurs="0" name="gedVersaoDocumento" nillable="true" type="q18:GedVersaoDocumentoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="salvarAtualizarGedVersaoDocumentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/GEDService.Model" minOccurs="0" name="salvarAtualizarGedVersaoDocumentoResult" nillable="true" type="q19:GedVersaoDocumentoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectGedVersaoDocumento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/GEDService.Model" minOccurs="0" name="gedVersaoDocumento" nillable="true" type="q20:GedVersaoDocumentoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectGedVersaoDocumentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/GEDService.Model" minOccurs="0" name="selectGedVersaoDocumentoResult" nillable="true" type="q21:ArrayOfGedVersaoDocumentoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectGedVersaoDocumentoPagina">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="primeiroResultado" type="xs:int" />
        <xs:element minOccurs="0" name="quantidadeResultados" type="xs:int" />
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/GEDService.Model" minOccurs="0" name="gedVersaoDocumento" nillable="true" type="q22:GedVersaoDocumentoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectGedVersaoDocumentoPaginaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/GEDService.Model" minOccurs="0" name="selectGedVersaoDocumentoPaginaResult" nillable="true" type="q23:ArrayOfGedVersaoDocumentoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="senha" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/GEDService.Model" minOccurs="0" name="selectUsuarioResult" nillable="true" type="q24:UsuarioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectControleAcesso">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/GEDService.Model" minOccurs="0" name="viewControleAcesso" nillable="true" type="q25:ViewControleAcessoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectControleAcessoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/GEDService.Model" minOccurs="0" name="selectControleAcessoResult" nillable="true" type="q26:ArrayOfViewControleAcessoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>