Retaguarda/Financeiro/Tesouraria/Cliente/TesourariaClient/Service References/TesourariaService/TesourariaService31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2772/TesourariaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TesourariaService.Model" />
  <xs:element name="selectResumoTesouraria">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TesourariaService.Model" minOccurs="0" name="resumoTesouraria" nillable="true" type="q1:ViewFinResumoTesourariaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectResumoTesourariaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TesourariaService.Model" minOccurs="0" name="selectResumoTesourariaResult" nillable="true" type="q2:ArrayOfViewFinResumoTesourariaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectResumoTesourariaMes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TesourariaService.Model" minOccurs="0" name="resumoTesouraria" nillable="true" type="q3:ViewFinResumoTesourariaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectResumoTesourariaMesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TesourariaService.Model" minOccurs="0" name="selectResumoTesourariaMesResult" nillable="true" type="q4:ArrayOfViewFinResumoTesourariaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectFechamentoCaixaBanco">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TesourariaService.Model" minOccurs="0" name="fechamentoCaixaBanco" nillable="true" type="q5:FechamentoCaixaBancoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectFechamentoCaixaBancoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TesourariaService.Model" minOccurs="0" name="selectFechamentoCaixaBancoResult" nillable="true" type="q6:ArrayOfFechamentoCaixaBancoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectContaCaixa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/TesourariaService.Model" minOccurs="0" name="ContaCaixa" nillable="true" type="q7:ContaCaixaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectContaCaixaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/TesourariaService.Model" minOccurs="0" name="selectContaCaixaResult" nillable="true" type="q8:ArrayOfContaCaixaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="senha" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/TesourariaService.Model" minOccurs="0" name="selectUsuarioResult" nillable="true" type="q9:UsuarioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectControleAcesso">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/TesourariaService.Model" minOccurs="0" name="viewControleAcesso" nillable="true" type="q10:ViewControleAcessoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectControleAcessoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/TesourariaService.Model" minOccurs="0" name="selectControleAcessoResult" nillable="true" type="q11:ArrayOfViewControleAcessoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/TesourariaService.Model" minOccurs="0" name="Empresa" nillable="true" type="q12:EmpresaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/TesourariaService.Model" minOccurs="0" name="selectEmpresaResult" nillable="true" type="q13:ArrayOfEmpresaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>