Retaguarda/Financeiro/Fluxo de Caixa/Cliente/FluxoCaixaClient/Service References/FluxoCaixaReference/Service32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2672/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FluxoCaixaService.Model" />
  <xs:element name="selectFluxoCaixa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FluxoCaixaService.Model" minOccurs="0" name="fluxo" nillable="true" type="q1:ViewFinFluxoCaixaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectFluxoCaixaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FluxoCaixaService.Model" minOccurs="0" name="selectFluxoCaixaResult" nillable="true" type="q2:ArrayOfViewFinFluxoCaixaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectFluxoCaixaMes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/FluxoCaixaService.Model" minOccurs="0" name="fluxo" nillable="true" type="q3:ViewFinFluxoCaixaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectFluxoCaixaMesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/FluxoCaixaService.Model" minOccurs="0" name="selectFluxoCaixaMesResult" nillable="true" type="q4:ArrayOfViewFinFluxoCaixaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectContaCaixa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/FluxoCaixaService.Model" minOccurs="0" name="ContaCaixa" nillable="true" type="q5:ContaCaixaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectContaCaixaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/FluxoCaixaService.Model" minOccurs="0" name="selectContaCaixaResult" nillable="true" type="q6:ArrayOfContaCaixaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="senha" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/FluxoCaixaService.Model" minOccurs="0" name="selectUsuarioResult" nillable="true" type="q7:UsuarioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectControleAcesso">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/FluxoCaixaService.Model" minOccurs="0" name="viewControleAcesso" nillable="true" type="q8:ViewControleAcessoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectControleAcessoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/FluxoCaixaService.Model" minOccurs="0" name="selectControleAcessoResult" nillable="true" type="q9:ArrayOfViewControleAcessoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/FluxoCaixaService.Model" minOccurs="0" name="Empresa" nillable="true" type="q10:EmpresaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/FluxoCaixaService.Model" minOccurs="0" name="selectEmpresaResult" nillable="true" type="q11:ArrayOfEmpresaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>