Retaguarda/Ponto/Cliente/PontoClient/Service References/ServicoPontoReference/ServicoPonto31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2676/ServicoPonto.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PontoService.Model" />
  <xs:element name="deletePontoParametro">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PontoService.Model" minOccurs="0" name="pontoParametro" nillable="true" type="q1:PontoParametroDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deletePontoParametroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deletePontoParametroResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="salvarAtualizarPontoParametro">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PontoService.Model" minOccurs="0" name="pontoParametro" nillable="true" type="q2:PontoParametroDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="salvarAtualizarPontoParametroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PontoService.Model" minOccurs="0" name="salvarAtualizarPontoParametroResult" nillable="true" type="q3:PontoParametroDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectPontoParametro">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PontoService.Model" minOccurs="0" name="pontoParametro" nillable="true" type="q4:PontoParametroDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectPontoParametroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/PontoService.Model" minOccurs="0" name="selectPontoParametroResult" nillable="true" type="q5:ArrayOfPontoParametroDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectPontoParametroPagina">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="primeiroResultado" type="xs:int" />
        <xs:element minOccurs="0" name="quantidadeResultados" type="xs:int" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/PontoService.Model" minOccurs="0" name="pontoParametro" nillable="true" type="q6:PontoParametroDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectPontoParametroPaginaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/PontoService.Model" minOccurs="0" name="selectPontoParametroPaginaResult" nillable="true" type="q7:ArrayOfPontoParametroDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deletePontoHorario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/PontoService.Model" minOccurs="0" name="pontoHorario" nillable="true" type="q8:PontoHorarioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deletePontoHorarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deletePontoHorarioResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="salvarAtualizarPontoHorario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/PontoService.Model" minOccurs="0" name="pontoHorario" nillable="true" type="q9:PontoHorarioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="salvarAtualizarPontoHorarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/PontoService.Model" minOccurs="0" name="salvarAtualizarPontoHorarioResult" nillable="true" type="q10:PontoHorarioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectPontoHorario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/PontoService.Model" minOccurs="0" name="pontoHorario" nillable="true" type="q11:PontoHorarioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectPontoHorarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/PontoService.Model" minOccurs="0" name="selectPontoHorarioResult" nillable="true" type="q12:ArrayOfPontoHorarioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectPontoHorarioPagina">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="primeiroResultado" type="xs:int" />
        <xs:element minOccurs="0" name="quantidadeResultados" type="xs:int" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/PontoService.Model" minOccurs="0" name="pontoHorario" nillable="true" type="q13:PontoHorarioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectPontoHorarioPaginaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/PontoService.Model" minOccurs="0" name="selectPontoHorarioPaginaResult" nillable="true" type="q14:ArrayOfPontoHorarioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deletePontoEscala">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/PontoService.Model" minOccurs="0" name="pontoEscala" nillable="true" type="q15:PontoEscalaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deletePontoEscalaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deletePontoEscalaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="salvarAtualizarPontoEscala">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/PontoService.Model" minOccurs="0" name="pontoEscala" nillable="true" type="q16:PontoEscalaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="salvarAtualizarPontoEscalaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/PontoService.Model" minOccurs="0" name="salvarAtualizarPontoEscalaResult" nillable="true" type="q17:PontoEscalaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectPontoEscala">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/PontoService.Model" minOccurs="0" name="pontoEscala" nillable="true" type="q18:PontoEscalaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectPontoEscalaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/PontoService.Model" minOccurs="0" name="selectPontoEscalaResult" nillable="true" type="q19:ArrayOfPontoEscalaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectPontoEscalaPagina">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="primeiroResultado" type="xs:int" />
        <xs:element minOccurs="0" name="quantidadeResultados" type="xs:int" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/PontoService.Model" minOccurs="0" name="pontoEscala" nillable="true" type="q20:PontoEscalaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectPontoEscalaPaginaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/PontoService.Model" minOccurs="0" name="selectPontoEscalaPaginaResult" nillable="true" type="q21:ArrayOfPontoEscalaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deletePontoClassificacaoJornada">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/PontoService.Model" minOccurs="0" name="pontoClassificacaoJornada" nillable="true" type="q22:PontoClassificacaoJornadaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deletePontoClassificacaoJornadaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deletePontoClassificacaoJornadaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="salvarAtualizarPontoClassificacaoJornada">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/PontoService.Model" minOccurs="0" name="pontoClassificacaoJornada" nillable="true" type="q23:PontoClassificacaoJornadaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="salvarAtualizarPontoClassificacaoJornadaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/PontoService.Model" minOccurs="0" name="salvarAtualizarPontoClassificacaoJornadaResult" nillable="true" type="q24:PontoClassificacaoJornadaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectPontoClassificacaoJornada">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/PontoService.Model" minOccurs="0" name="pontoClassificacaoJornada" nillable="true" type="q25:PontoClassificacaoJornadaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectPontoClassificacaoJornadaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/PontoService.Model" minOccurs="0" name="selectPontoClassificacaoJornadaResult" nillable="true" type="q26:ArrayOfPontoClassificacaoJornadaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectPontoClassificacaoJornadaPagina">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="primeiroResultado" type="xs:int" />
        <xs:element minOccurs="0" name="quantidadeResultados" type="xs:int" />
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/PontoService.Model" minOccurs="0" name="pontoClassificacaoJornada" nillable="true" type="q27:PontoClassificacaoJornadaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectPontoClassificacaoJornadaPaginaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/PontoService.Model" minOccurs="0" name="selectPontoClassificacaoJornadaPaginaResult" nillable="true" type="q28:ArrayOfPontoClassificacaoJornadaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deletePontoAbono">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/PontoService.Model" minOccurs="0" name="pontoAbono" nillable="true" type="q29:PontoAbonoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deletePontoAbonoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deletePontoAbonoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="salvarAtualizarPontoAbono">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/PontoService.Model" minOccurs="0" name="pontoAbono" nillable="true" type="q30:PontoAbonoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="salvarAtualizarPontoAbonoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/PontoService.Model" minOccurs="0" name="salvarAtualizarPontoAbonoResult" nillable="true" type="q31:PontoAbonoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectPontoAbono">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/PontoService.Model" minOccurs="0" name="pontoAbono" nillable="true" type="q32:PontoAbonoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectPontoAbonoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/PontoService.Model" minOccurs="0" name="selectPontoAbonoResult" nillable="true" type="q33:ArrayOfPontoAbonoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectPontoAbonoPagina">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="primeiroResultado" type="xs:int" />
        <xs:element minOccurs="0" name="quantidadeResultados" type="xs:int" />
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/PontoService.Model" minOccurs="0" name="pontoAbono" nillable="true" type="q34:PontoAbonoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectPontoAbonoPaginaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/PontoService.Model" minOccurs="0" name="selectPontoAbonoPaginaResult" nillable="true" type="q35:ArrayOfPontoAbonoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deletePontoRelogio">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/PontoService.Model" minOccurs="0" name="pontoRelogio" nillable="true" type="q36:PontoRelogioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deletePontoRelogioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deletePontoRelogioResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="salvarAtualizarPontoRelogio">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/PontoService.Model" minOccurs="0" name="pontoRelogio" nillable="true" type="q37:PontoRelogioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="salvarAtualizarPontoRelogioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/PontoService.Model" minOccurs="0" name="salvarAtualizarPontoRelogioResult" nillable="true" type="q38:PontoRelogioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectPontoRelogio">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/PontoService.Model" minOccurs="0" name="pontoRelogio" nillable="true" type="q39:PontoRelogioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectPontoRelogioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/PontoService.Model" minOccurs="0" name="selectPontoRelogioResult" nillable="true" type="q40:ArrayOfPontoRelogioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectPontoRelogioPagina">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="primeiroResultado" type="xs:int" />
        <xs:element minOccurs="0" name="quantidadeResultados" type="xs:int" />
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/PontoService.Model" minOccurs="0" name="pontoRelogio" nillable="true" type="q41:PontoRelogioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectPontoRelogioPaginaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/PontoService.Model" minOccurs="0" name="selectPontoRelogioPaginaResult" nillable="true" type="q42:ArrayOfPontoRelogioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deletePontoBancoHoras">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/PontoService.Model" minOccurs="0" name="pontoBancoHoras" nillable="true" type="q43:PontoBancoHorasDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deletePontoBancoHorasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deletePontoBancoHorasResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="salvarAtualizarPontoBancoHoras">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/PontoService.Model" minOccurs="0" name="pontoBancoHoras" nillable="true" type="q44:PontoBancoHorasDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="salvarAtualizarPontoBancoHorasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/PontoService.Model" minOccurs="0" name="salvarAtualizarPontoBancoHorasResult" nillable="true" type="q45:PontoBancoHorasDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectPontoBancoHoras">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/PontoService.Model" minOccurs="0" name="pontoBancoHoras" nillable="true" type="q46:PontoBancoHorasDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectPontoBancoHorasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/PontoService.Model" minOccurs="0" name="selectPontoBancoHorasResult" nillable="true" type="q47:ArrayOfPontoBancoHorasDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectPontoBancoHorasPagina">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="primeiroResultado" type="xs:int" />
        <xs:element minOccurs="0" name="quantidadeResultados" type="xs:int" />
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/PontoService.Model" minOccurs="0" name="pontoBancoHoras" nillable="true" type="q48:PontoBancoHorasDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectPontoBancoHorasPaginaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/PontoService.Model" minOccurs="0" name="selectPontoBancoHorasPaginaResult" nillable="true" type="q49:ArrayOfPontoBancoHorasDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deletePontoMarcacao">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/PontoService.Model" minOccurs="0" name="pontoMarcacao" nillable="true" type="q50:PontoMarcacaoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deletePontoMarcacaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deletePontoMarcacaoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="salvarAtualizarPontoMarcacao">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/PontoService.Model" minOccurs="0" name="pontoMarcacao" nillable="true" type="q51:PontoMarcacaoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="salvarAtualizarPontoMarcacaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/PontoService.Model" minOccurs="0" name="salvarAtualizarPontoMarcacaoResult" nillable="true" type="q52:PontoMarcacaoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectPontoMarcacao">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/PontoService.Model" minOccurs="0" name="pontoMarcacao" nillable="true" type="q53:PontoMarcacaoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectPontoMarcacaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/PontoService.Model" minOccurs="0" name="selectPontoMarcacaoResult" nillable="true" type="q54:ArrayOfPontoMarcacaoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectPontoMarcacaoPagina">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="primeiroResultado" type="xs:int" />
        <xs:element minOccurs="0" name="quantidadeResultados" type="xs:int" />
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/PontoService.Model" minOccurs="0" name="pontoMarcacao" nillable="true" type="q55:PontoMarcacaoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectPontoMarcacaoPaginaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/PontoService.Model" minOccurs="0" name="selectPontoMarcacaoPaginaResult" nillable="true" type="q56:ArrayOfPontoMarcacaoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deletePontoFechamentoJornada">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/PontoService.Model" minOccurs="0" name="pontoFechamentoJornada" nillable="true" type="q57:PontoFechamentoJornadaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deletePontoFechamentoJornadaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deletePontoFechamentoJornadaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="salvarAtualizarPontoFechamentoJornada">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/PontoService.Model" minOccurs="0" name="pontoFechamentoJornada" nillable="true" type="q58:PontoFechamentoJornadaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="salvarAtualizarPontoFechamentoJornadaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/PontoService.Model" minOccurs="0" name="salvarAtualizarPontoFechamentoJornadaResult" nillable="true" type="q59:PontoFechamentoJornadaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectPontoFechamentoJornada">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/PontoService.Model" minOccurs="0" name="pontoFechamentoJornada" nillable="true" type="q60:PontoFechamentoJornadaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectPontoFechamentoJornadaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/PontoService.Model" minOccurs="0" name="selectPontoFechamentoJornadaResult" nillable="true" type="q61:ArrayOfPontoFechamentoJornadaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectPontoFechamentoJornadaPagina">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="primeiroResultado" type="xs:int" />
        <xs:element minOccurs="0" name="quantidadeResultados" type="xs:int" />
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/PontoService.Model" minOccurs="0" name="pontoFechamentoJornada" nillable="true" type="q62:PontoFechamentoJornadaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectPontoFechamentoJornadaPaginaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/PontoService.Model" minOccurs="0" name="selectPontoFechamentoJornadaPaginaResult" nillable="true" type="q63:ArrayOfPontoFechamentoJornadaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectColaborador">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/PontoService.Model" minOccurs="0" name="colaborador" nillable="true" type="q64:ColaboradorDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectColaboradorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/PontoService.Model" minOccurs="0" name="selectColaboradorResult" nillable="true" type="q65:ArrayOfColaboradorDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectColaboradorPagina">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="primeiroResultado" type="xs:int" />
        <xs:element minOccurs="0" name="quantidadeResultados" type="xs:int" />
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/PontoService.Model" minOccurs="0" name="colaborador" nillable="true" type="q66:ColaboradorDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectColaboradorPaginaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/PontoService.Model" minOccurs="0" name="selectColaboradorPaginaResult" nillable="true" type="q67:ArrayOfColaboradorDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="senha" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/PontoService.Model" minOccurs="0" name="selectUsuarioResult" nillable="true" type="q68:UsuarioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectControleAcesso">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/PontoService.Model" minOccurs="0" name="viewControleAcesso" nillable="true" type="q69:ViewControleAcessoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectControleAcessoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/PontoService.Model" minOccurs="0" name="selectControleAcessoResult" nillable="true" type="q70:ArrayOfViewControleAcessoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectViewPontoMarcacao">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/PontoService.Model" minOccurs="0" name="viewPontoMarcacao" nillable="true" type="q71:ViewPontoMarcacaoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectViewPontoMarcacaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/PontoService.Model" minOccurs="0" name="selectViewPontoMarcacaoResult" nillable="true" type="q72:ArrayOfViewPontoMarcacaoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectViewPontoMarcacaoPagina">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="primeiroResultado" type="xs:int" />
        <xs:element minOccurs="0" name="quantidadeResultados" type="xs:int" />
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/PontoService.Model" minOccurs="0" name="viewPontoMarcacao" nillable="true" type="q73:ViewPontoMarcacaoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectViewPontoMarcacaoPaginaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/PontoService.Model" minOccurs="0" name="selectViewPontoMarcacaoPaginaResult" nillable="true" type="q74:ArrayOfViewPontoMarcacaoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>