Retaguarda/Contratos/Cliente/ContratosClient/Service References/ContratosReference/ServicoContratos32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2664/ServicoContratos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ContratosService.Model" />
  <xs:element name="deleteContrato">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ContratosService.Model" minOccurs="0" name="contrato" nillable="true" type="q1:ContratoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteContratoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteContratoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="salvarAtualizarContrato">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ContratosService.Model" minOccurs="0" name="contrato" nillable="true" type="q2:ContratoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="salvarAtualizarContratoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ContratosService.Model" minOccurs="0" name="salvarAtualizarContratoResult" nillable="true" type="q3:ContratoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectContrato">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ContratosService.Model" minOccurs="0" name="contrato" nillable="true" type="q4:ContratoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectContratoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ContratosService.Model" minOccurs="0" name="selectContratoResult" nillable="true" type="q5:ArrayOfContratoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectContratoPagina">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="primeiroResultado" type="xs:int" />
        <xs:element minOccurs="0" name="quantidadeResultados" type="xs:int" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ContratosService.Model" minOccurs="0" name="contrato" nillable="true" type="q6:ContratoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectContratoPaginaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ContratosService.Model" minOccurs="0" name="selectContratoPaginaResult" nillable="true" type="q7:ArrayOfContratoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteContratoTipoServico">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ContratosService.Model" minOccurs="0" name="contratoTipoServico" nillable="true" type="q8:ContratoTipoServicoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteContratoTipoServicoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteContratoTipoServicoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="salvarAtualizarContratoTipoServico">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ContratosService.Model" minOccurs="0" name="contratoTipoServico" nillable="true" type="q9:ContratoTipoServicoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="salvarAtualizarContratoTipoServicoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ContratosService.Model" minOccurs="0" name="salvarAtualizarContratoTipoServicoResult" nillable="true" type="q10:ContratoTipoServicoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectContratoTipoServico">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ContratosService.Model" minOccurs="0" name="contratoTipoServico" nillable="true" type="q11:ContratoTipoServicoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectContratoTipoServicoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ContratosService.Model" minOccurs="0" name="selectContratoTipoServicoResult" nillable="true" type="q12:ArrayOfContratoTipoServicoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectContratoTipoServicoPagina">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="primeiroResultado" type="xs:int" />
        <xs:element minOccurs="0" name="quantidadeResultados" type="xs:int" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ContratosService.Model" minOccurs="0" name="contratoTipoServico" nillable="true" type="q13:ContratoTipoServicoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectContratoTipoServicoPaginaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ContratosService.Model" minOccurs="0" name="selectContratoTipoServicoPaginaResult" nillable="true" type="q14:ArrayOfContratoTipoServicoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteTipoContrato">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ContratosService.Model" minOccurs="0" name="tipoContrato" nillable="true" type="q15:TipoContratoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteTipoContratoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteTipoContratoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="salvarAtualizarTipoContrato">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/ContratosService.Model" minOccurs="0" name="tipoContrato" nillable="true" type="q16:TipoContratoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="salvarAtualizarTipoContratoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/ContratosService.Model" minOccurs="0" name="salvarAtualizarTipoContratoResult" nillable="true" type="q17:TipoContratoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectTipoContrato">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/ContratosService.Model" minOccurs="0" name="tipoContrato" nillable="true" type="q18:TipoContratoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectTipoContratoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/ContratosService.Model" minOccurs="0" name="selectTipoContratoResult" nillable="true" type="q19:ArrayOfTipoContratoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectTipoContratoPagina">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="primeiroResultado" type="xs:int" />
        <xs:element minOccurs="0" name="quantidadeResultados" type="xs:int" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/ContratosService.Model" minOccurs="0" name="tipoContrato" nillable="true" type="q20:TipoContratoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectTipoContratoPaginaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/ContratosService.Model" minOccurs="0" name="selectTipoContratoPaginaResult" nillable="true" type="q21:ArrayOfTipoContratoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteContratoSolicitacaoServico">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/ContratosService.Model" minOccurs="0" name="contratoSolicitacaoServico" nillable="true" type="q22:ContratoSolicitacaoServicoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteContratoSolicitacaoServicoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteContratoSolicitacaoServicoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="salvarAtualizarContratoSolicitacaoServico">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/ContratosService.Model" minOccurs="0" name="contratoSolicitacaoServico" nillable="true" type="q23:ContratoSolicitacaoServicoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="salvarAtualizarContratoSolicitacaoServicoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/ContratosService.Model" minOccurs="0" name="salvarAtualizarContratoSolicitacaoServicoResult" nillable="true" type="q24:ContratoSolicitacaoServicoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectContratoSolicitacaoServico">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/ContratosService.Model" minOccurs="0" name="contratoSolicitacaoServico" nillable="true" type="q25:ContratoSolicitacaoServicoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectContratoSolicitacaoServicoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/ContratosService.Model" minOccurs="0" name="selectContratoSolicitacaoServicoResult" nillable="true" type="q26:ArrayOfContratoSolicitacaoServicoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectContratoSolicitacaoServicoPagina">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="primeiroResultado" type="xs:int" />
        <xs:element minOccurs="0" name="quantidadeResultados" type="xs:int" />
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/ContratosService.Model" minOccurs="0" name="contratoSolicitacaoServico" nillable="true" type="q27:ContratoSolicitacaoServicoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectContratoSolicitacaoServicoPaginaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/ContratosService.Model" minOccurs="0" name="selectContratoSolicitacaoServicoPaginaResult" nillable="true" type="q28:ArrayOfContratoSolicitacaoServicoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectFornecedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/ContratosService.Model" minOccurs="0" name="fornecedor" nillable="true" type="q29:FornecedorDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectFornecedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/ContratosService.Model" minOccurs="0" name="selectFornecedorResult" nillable="true" type="q30:ArrayOfFornecedorDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectFornecedorPagina">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="primeiroResultado" type="xs:int" />
        <xs:element minOccurs="0" name="quantidadeResultados" type="xs:int" />
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/ContratosService.Model" minOccurs="0" name="fornecedor" nillable="true" type="q31:FornecedorDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectFornecedorPaginaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/ContratosService.Model" minOccurs="0" name="selectFornecedorPaginaResult" nillable="true" type="q32:ArrayOfFornecedorDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/ContratosService.Model" minOccurs="0" name="cliente" nillable="true" type="q33:ClienteDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/ContratosService.Model" minOccurs="0" name="selectClienteResult" nillable="true" type="q34:ArrayOfClienteDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectClientePagina">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="primeiroResultado" type="xs:int" />
        <xs:element minOccurs="0" name="quantidadeResultados" type="xs:int" />
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/ContratosService.Model" minOccurs="0" name="cliente" nillable="true" type="q35:ClienteDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectClientePaginaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/ContratosService.Model" minOccurs="0" name="selectClientePaginaResult" nillable="true" type="q36:ArrayOfClienteDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectSetor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/ContratosService.Model" minOccurs="0" name="setor" nillable="true" type="q37:SetorDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectSetorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/ContratosService.Model" minOccurs="0" name="selectSetorResult" nillable="true" type="q38:ArrayOfSetorDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectSetorPagina">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="primeiroResultado" type="xs:int" />
        <xs:element minOccurs="0" name="quantidadeResultados" type="xs:int" />
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/ContratosService.Model" minOccurs="0" name="setor" nillable="true" type="q39:SetorDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectSetorPaginaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/ContratosService.Model" minOccurs="0" name="selectSetorPaginaResult" nillable="true" type="q40:ArrayOfSetorDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectColaborador">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/ContratosService.Model" minOccurs="0" name="colaborador" nillable="true" type="q41:ColaboradorDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectColaboradorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/ContratosService.Model" minOccurs="0" name="selectColaboradorResult" nillable="true" type="q42:ArrayOfColaboradorDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectColaboradorPagina">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="primeiroResultado" type="xs:int" />
        <xs:element minOccurs="0" name="quantidadeResultados" type="xs:int" />
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/ContratosService.Model" minOccurs="0" name="colaborador" nillable="true" type="q43:ColaboradorDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectColaboradorPaginaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/ContratosService.Model" minOccurs="0" name="selectColaboradorPaginaResult" nillable="true" type="q44:ArrayOfColaboradorDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectPessoa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/ContratosService.Model" minOccurs="0" name="pessoa" nillable="true" type="q45:PessoaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectPessoaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/ContratosService.Model" minOccurs="0" name="selectPessoaResult" nillable="true" type="q46:PessoaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="senha" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/ContratosService.Model" minOccurs="0" name="selectUsuarioResult" nillable="true" type="q47:UsuarioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectControleAcesso">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/ContratosService.Model" minOccurs="0" name="viewControleAcesso" nillable="true" type="q48:ViewControleAcessoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectControleAcessoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/ContratosService.Model" minOccurs="0" name="selectControleAcessoResult" nillable="true" type="q49:ArrayOfViewControleAcessoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>