Retaguarda/Financeiro/Conciliação Bancária/Cliente/ConciliacaoClient/Service References/ConciliacaoService/ConciliacaoService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/ConciliacaoService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ConciliacaoService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2669/ConciliacaoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ExtratoContaBancoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ano" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="conciliado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dataBalancete" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="dataMovimento" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="documento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="historico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="idContaCaixa" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="mes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="observacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="valor" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExtratoContaBancoDTO" nillable="true" type="tns:ExtratoContaBancoDTO" />
  <xs:complexType name="ArrayOfExtratoContaBancoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExtratoContaBancoDTO" nillable="true" type="tns:ExtratoContaBancoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExtratoContaBancoDTO" nillable="true" type="tns:ArrayOfExtratoContaBancoDTO" />
  <xs:complexType name="ContaCaixaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="digito" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="idAgenciaBanco" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="idEmpresa" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipo" nillable="true" type="ser:char" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContaCaixaDTO" nillable="true" type="tns:ContaCaixaDTO" />
  <xs:complexType name="ArrayOfContaCaixaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContaCaixaDTO" nillable="true" type="tns:ContaCaixaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContaCaixaDTO" nillable="true" type="tns:ArrayOfContaCaixaDTO" />
  <xs:complexType name="UsuarioDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Administrador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataCadastro" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdColaborador" type="xs:int" />
      <xs:element minOccurs="0" name="IdPapel" type="xs:int" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Senha" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsuarioDTO" nillable="true" type="tns:UsuarioDTO" />
  <xs:complexType name="ViewControleAcessoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Formulario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Habilitado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdFuncao" type="xs:int" />
      <xs:element minOccurs="0" name="IdPapel" type="xs:int" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ViewControleAcessoDTO" nillable="true" type="tns:ViewControleAcessoDTO" />
  <xs:complexType name="ArrayOfViewControleAcessoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ViewControleAcessoDTO" nillable="true" type="tns:ViewControleAcessoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfViewControleAcessoDTO" nillable="true" type="tns:ArrayOfViewControleAcessoDTO" />
  <xs:complexType name="EmpresaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AliquotaCofins" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AliquotaPis" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AliquotaSat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cnpj" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoGps" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoIbgeCidade" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoIbgeUf" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoTerceiros" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contato" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Crt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataCadastro" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DataInicioAtividades" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DataInscJuntaComercial" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ImagemLogotipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InscricaoEstadual" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InscricaoEstadualSt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InscricaoJuntaComercial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InscricaoMunicipal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NomeFantasia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RazaoSocial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Suframa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoRegime" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmpresaDTO" nillable="true" type="tns:EmpresaDTO" />
  <xs:complexType name="ArrayOfEmpresaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmpresaDTO" nillable="true" type="tns:EmpresaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmpresaDTO" nillable="true" type="tns:ArrayOfEmpresaDTO" />
</xs:schema>