Retaguarda/Financeiro/Conciliação Bancária/Cliente/ConciliacaoClient/Service References/ConciliacaoService/ConciliacaoService31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2669/ConciliacaoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ConciliacaoService.Model" />
  <xs:element name="selectExtrato">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ConciliacaoService.Model" minOccurs="0" name="extrato" nillable="true" type="q1:ExtratoContaBancoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectExtratoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ConciliacaoService.Model" minOccurs="0" name="selectExtratoResult" nillable="true" type="q2:ArrayOfExtratoContaBancoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveUpdateListaExtrato">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ConciliacaoService.Model" minOccurs="0" name="listaExtrato" nillable="true" type="q3:ArrayOfExtratoContaBancoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveUpdateListaExtratoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="saveUpdateListaExtratoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="conciliarCheques">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ConciliacaoService.Model" minOccurs="0" name="extrato" nillable="true" type="q4:ExtratoContaBancoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="conciliarChequesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="conciliarChequesResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="conciliarLancamentos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ConciliacaoService.Model" minOccurs="0" name="extrato" nillable="true" type="q5:ExtratoContaBancoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="conciliarLancamentosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="conciliarLancamentosResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectContaCaixa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ConciliacaoService.Model" minOccurs="0" name="contaCaixa" nillable="true" type="q6:ContaCaixaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectContaCaixaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ConciliacaoService.Model" minOccurs="0" name="selectContaCaixaResult" nillable="true" type="q7:ArrayOfContaCaixaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="senha" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ConciliacaoService.Model" minOccurs="0" name="selectUsuarioResult" nillable="true" type="q8:UsuarioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectControleAcesso">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ConciliacaoService.Model" minOccurs="0" name="viewControleAcesso" nillable="true" type="q9:ViewControleAcessoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectControleAcessoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ConciliacaoService.Model" minOccurs="0" name="selectControleAcessoResult" nillable="true" type="q10:ArrayOfViewControleAcessoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ConciliacaoService.Model" minOccurs="0" name="empresa" nillable="true" type="q11:EmpresaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ConciliacaoService.Model" minOccurs="0" name="selectEmpresaResult" nillable="true" type="q12:ArrayOfEmpresaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>