Retaguarda/Loja Virtual/SISGMFWeb/Backup/SISGMFWeb/Service References/ServicoSISGMFReference/ServicoSISGMF2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/SISGMFService/ServicoSISGMF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SISGMFService.Model" />
  <xs:element name="SelectViewTotalPagamentoMercado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="viewTotalPagamentoMercado" nillable="true" type="q1:ViewTotalPagamentoMercadoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectViewTotalPagamentoMercadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="SelectViewTotalPagamentoMercadoResult" nillable="true" type="q2:ArrayOfViewTotalPagamentoMercadoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectViewTotalPagamentoMercadoPagina">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="primeiroResultado" type="xs:int" />
        <xs:element minOccurs="0" name="quantidadeResultados" type="xs:int" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="viewTotalPagamentoMercado" nillable="true" type="q3:ViewTotalPagamentoMercadoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectViewTotalPagamentoMercadoPaginaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="SelectViewTotalPagamentoMercadoPaginaResult" nillable="true" type="q4:ArrayOfViewTotalPagamentoMercadoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectViewTotalPresencaMercado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="viewTotalPresencaMercado" nillable="true" type="q5:ViewTotalPresencaMercadoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectViewTotalPresencaMercadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="SelectViewTotalPresencaMercadoResult" nillable="true" type="q6:ArrayOfViewTotalPresencaMercadoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectViewTotalPresencaMercadoPagina">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="primeiroResultado" type="xs:int" />
        <xs:element minOccurs="0" name="quantidadeResultados" type="xs:int" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="viewTotalPresencaMercado" nillable="true" type="q7:ViewTotalPresencaMercadoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectViewTotalPresencaMercadoPaginaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="SelectViewTotalPresencaMercadoPaginaResult" nillable="true" type="q8:ArrayOfViewTotalPresencaMercadoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectViewTotalVendedorMunicipio">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="viewTotalVendedorMunicipio" nillable="true" type="q9:ViewTotalVendedorMunicipioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectViewTotalVendedorMunicipioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="SelectViewTotalVendedorMunicipioResult" nillable="true" type="q10:ArrayOfViewTotalVendedorMunicipioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectViewTotalVendedorMunicipioPagina">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="primeiroResultado" type="xs:int" />
        <xs:element minOccurs="0" name="quantidadeResultados" type="xs:int" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="viewTotalVendedorMunicipio" nillable="true" type="q11:ViewTotalVendedorMunicipioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectViewTotalVendedorMunicipioPaginaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="SelectViewTotalVendedorMunicipioPaginaResult" nillable="true" type="q12:ArrayOfViewTotalVendedorMunicipioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectViewTotalPagamentoMunicipio">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="viewTotalPagamentoMunicipio" nillable="true" type="q13:ViewTotalPagamentoMunicipioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectViewTotalPagamentoMunicipioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="SelectViewTotalPagamentoMunicipioResult" nillable="true" type="q14:ArrayOfViewTotalPagamentoMunicipioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectViewTotalPagamentoMunicipioPagina">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="primeiroResultado" type="xs:int" />
        <xs:element minOccurs="0" name="quantidadeResultados" type="xs:int" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="viewTotalPagamentoMunicipio" nillable="true" type="q15:ViewTotalPagamentoMunicipioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectViewTotalPagamentoMunicipioPaginaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="SelectViewTotalPagamentoMunicipioPaginaResult" nillable="true" type="q16:ArrayOfViewTotalPagamentoMunicipioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectViewTotalPresencaMunicipio">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="viewTotalPresencaMunicipio" nillable="true" type="q17:ViewTotalPresencaMunicipioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectViewTotalPresencaMunicipioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="SelectViewTotalPresencaMunicipioResult" nillable="true" type="q18:ArrayOfViewTotalPresencaMunicipioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectViewTotalPresencaMunicipioPagina">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="primeiroResultado" type="xs:int" />
        <xs:element minOccurs="0" name="quantidadeResultados" type="xs:int" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="viewTotalPresencaMunicipio" nillable="true" type="q19:ViewTotalPresencaMunicipioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectViewTotalPresencaMunicipioPaginaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="SelectViewTotalPresencaMunicipioPaginaResult" nillable="true" type="q20:ArrayOfViewTotalPresencaMunicipioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectViewPagamentoMercado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="viewPagamentoMercado" nillable="true" type="q21:ViewPagamentoMercadoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectViewPagamentoMercadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="SelectViewPagamentoMercadoResult" nillable="true" type="q22:ArrayOfViewPagamentoMercadoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectPresenca">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="presenca" nillable="true" type="q23:PresencaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectPresencaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="SelectPresencaResult" nillable="true" type="q24:ArrayOfPresencaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectPresencaPagina">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="primeiroResultado" type="xs:int" />
        <xs:element minOccurs="0" name="quantidadeResultados" type="xs:int" />
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="presenca" nillable="true" type="q25:PresencaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectPresencaPaginaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="SelectPresencaPaginaResult" nillable="true" type="q26:ArrayOfPresencaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectPresencaVendedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoVendedor" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectPresencaVendedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="SelectPresencaVendedorResult" nillable="true" type="q27:ArrayOfPresencaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectPresencaVendedorData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoVendedor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dataPresenca" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectPresencaVendedorDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="SelectPresencaVendedorDataResult" nillable="true" type="q28:PresencaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePagamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="pagamento" nillable="true" type="q29:PagamentoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePagamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletePagamentoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarAtualizarPagamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="pagamento" nillable="true" type="q30:PagamentoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarAtualizarPagamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="SalvarAtualizarPagamentoResult" nillable="true" type="q31:PagamentoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectPagamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="pagamento" nillable="true" type="q32:PagamentoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectPagamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="SelectPagamentoResult" nillable="true" type="q33:ArrayOfPagamentoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectPagamentoPagina">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="primeiroResultado" type="xs:int" />
        <xs:element minOccurs="0" name="quantidadeResultados" type="xs:int" />
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="pagamento" nillable="true" type="q34:PagamentoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectPagamentoPaginaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="SelectPagamentoPaginaResult" nillable="true" type="q35:ArrayOfPagamentoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectPagamentoVendedorData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoVendedor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dataPagamento" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectPagamentoVendedorDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="SelectPagamentoVendedorDataResult" nillable="true" type="q36:ArrayOfPagamentoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="senha" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="SelectUsuarioResult" nillable="true" type="q37:UsuarioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="Usuario" nillable="true" type="q38:UsuarioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteUsuarioResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarAtualizarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="Usuario" nillable="true" type="q39:UsuarioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarAtualizarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="SalvarAtualizarUsuarioResult" nillable="true" type="q40:UsuarioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectUsuarioDto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="Usuario" nillable="true" type="q41:UsuarioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectUsuarioDtoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="SelectUsuarioDtoResult" nillable="true" type="q42:ArrayOfUsuarioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectUsuarioPagina">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="primeiroResultado" type="xs:int" />
        <xs:element minOccurs="0" name="quantidadeResultados" type="xs:int" />
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="Usuario" nillable="true" type="q43:UsuarioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectUsuarioPaginaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="SelectUsuarioPaginaResult" nillable="true" type="q44:ArrayOfUsuarioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectControleAcesso">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="funcao" nillable="true" type="q45:FuncaoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectControleAcessoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="SelectControleAcessoResult" nillable="true" type="q46:ArrayOfFuncaoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarAtualizarFuncao">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="funcao" nillable="true" type="q47:FuncaoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarAtualizarFuncaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="SalvarAtualizarFuncaoResult" nillable="true" type="q48:FuncaoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RelatorioMercadoPorMunicipio">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RelatorioMercadoPorMunicipioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="RelatorioMercadoPorMunicipioResult" nillable="true" type="q49:ArquivoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RelatorioResumoMensal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="mercado" nillable="true" type="q50:MercadoDTO" />
        <xs:element minOccurs="0" name="periodo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RelatorioResumoMensalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="RelatorioResumoMensalResult" nillable="true" type="q51:ArquivoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RelatorioResumoDiario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="mercado" nillable="true" type="q52:MercadoDTO" />
        <xs:element minOccurs="0" name="dia" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RelatorioResumoDiarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="RelatorioResumoDiarioResult" nillable="true" type="q53:ArquivoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RelatorioVendedorPorMercado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdMercado" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RelatorioVendedorPorMercadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="RelatorioVendedorPorMercadoResult" nillable="true" type="q54:ArquivoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectViewTotalVendedorArea">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="viewTotalVendedorArea" nillable="true" type="q55:ViewTotalVendedorAreaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectViewTotalVendedorAreaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="SelectViewTotalVendedorAreaResult" nillable="true" type="q56:ArrayOfViewTotalVendedorAreaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectViewTotalVendedorAreaPagina">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="primeiroResultado" type="xs:int" />
        <xs:element minOccurs="0" name="quantidadeResultados" type="xs:int" />
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="viewTotalVendedorArea" nillable="true" type="q57:ViewTotalVendedorAreaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectViewTotalVendedorAreaPaginaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="SelectViewTotalVendedorAreaPaginaResult" nillable="true" type="q58:ArrayOfViewTotalVendedorAreaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectViewTotalPagamentoArea">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="viewTotalPagamentoArea" nillable="true" type="q59:ViewTotalPagamentoAreaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectViewTotalPagamentoAreaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="SelectViewTotalPagamentoAreaResult" nillable="true" type="q60:ArrayOfViewTotalPagamentoAreaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectViewTotalPagamentoAreaPagina">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="primeiroResultado" type="xs:int" />
        <xs:element minOccurs="0" name="quantidadeResultados" type="xs:int" />
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="viewTotalPagamentoArea" nillable="true" type="q61:ViewTotalPagamentoAreaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectViewTotalPagamentoAreaPaginaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="SelectViewTotalPagamentoAreaPaginaResult" nillable="true" type="q62:ArrayOfViewTotalPagamentoAreaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectViewTotalPresencaArea">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="viewTotalPresencaArea" nillable="true" type="q63:ViewTotalPresencaAreaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectViewTotalPresencaAreaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="SelectViewTotalPresencaAreaResult" nillable="true" type="q64:ArrayOfViewTotalPresencaAreaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectViewTotalPresencaAreaPagina">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="primeiroResultado" type="xs:int" />
        <xs:element minOccurs="0" name="quantidadeResultados" type="xs:int" />
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="viewTotalPresencaArea" nillable="true" type="q65:ViewTotalPresencaAreaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectViewTotalPresencaAreaPaginaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="SelectViewTotalPresencaAreaPaginaResult" nillable="true" type="q66:ArrayOfViewTotalPresencaAreaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectViewTotalVendedorMercado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="viewTotalVendedorMercado" nillable="true" type="q67:ViewTotalVendedorMercadoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectViewTotalVendedorMercadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="SelectViewTotalVendedorMercadoResult" nillable="true" type="q68:ArrayOfViewTotalVendedorMercadoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectViewTotalVendedorMercadoPagina">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="primeiroResultado" type="xs:int" />
        <xs:element minOccurs="0" name="quantidadeResultados" type="xs:int" />
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="viewTotalVendedorMercado" nillable="true" type="q69:ViewTotalVendedorMercadoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectViewTotalVendedorMercadoPaginaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="SelectViewTotalVendedorMercadoPaginaResult" nillable="true" type="q70:ArrayOfViewTotalVendedorMercadoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectProdutoPagina">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="primeiroResultado" type="xs:int" />
        <xs:element minOccurs="0" name="quantidadeResultados" type="xs:int" />
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="produto" nillable="true" type="q71:ProdutoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectProdutoPaginaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="SelectProdutoPaginaResult" nillable="true" type="q72:ArrayOfProdutoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImprimirProdutoLista">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="primeiroResultado" type="xs:int" />
        <xs:element minOccurs="0" name="quantidadeResultados" type="xs:int" />
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="produto" nillable="true" type="q73:ProdutoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImprimirProdutoListaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="ImprimirProdutoListaResult" nillable="true" type="q74:ArquivoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVendedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="vendedor" nillable="true" type="q75:VendedorDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVendedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteVendedorResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVendedorProduto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="vendedorProduto" nillable="true" type="q76:VendedorProdutoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVendedorProdutoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteVendedorProdutoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarAtualizarVendedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="vendedor" nillable="true" type="q77:VendedorDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarAtualizarVendedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="SalvarAtualizarVendedorResult" nillable="true" type="q78:VendedorDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarAtualizarVendedorProduto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="vendedorProduto" nillable="true" type="q79:VendedorProdutoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarAtualizarVendedorProdutoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="SalvarAtualizarVendedorProdutoResult" nillable="true" type="q80:VendedorProdutoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectVendedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="vendedor" nillable="true" type="q81:VendedorDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectVendedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="SelectVendedorResult" nillable="true" type="q82:ArrayOfVendedorDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectVendedorPagina">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="primeiroResultado" type="xs:int" />
        <xs:element minOccurs="0" name="quantidadeResultados" type="xs:int" />
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="vendedor" nillable="true" type="q83:VendedorDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectVendedorPaginaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="SelectVendedorPaginaResult" nillable="true" type="q84:ArrayOfVendedorDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectVendedorCodigo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoVendedor" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectVendedorCodigoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="SelectVendedorCodigoResult" nillable="true" type="q85:VendedorDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrachaVendedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="vendedor" nillable="true" type="q86:VendedorDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrachaVendedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="CrachaVendedorResult" nillable="true" type="q87:ArquivoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrachaVendedorVerso">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="vendedor" nillable="true" type="q88:VendedorDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrachaVendedorVersoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="CrachaVendedorVersoResult" nillable="true" type="q89:ArquivoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FichaVendedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="vendedor" nillable="true" type="q90:VendedorDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FichaVendedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="FichaVendedorResult" nillable="true" type="q91:ArquivoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarVendedorFoto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="foto" nillable="true" type="q92:ArquivoDTO" />
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="vendedor" nillable="true" type="q93:VendedorDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarVendedorFotoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="SalvarVendedorFotoResult" nillable="true" type="q94:VendedorDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarVendedorBI">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="imagem" nillable="true" type="q95:ArquivoDTO" />
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="vendedor" nillable="true" type="q96:VendedorDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarVendedorBIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="SalvarVendedorBIResult" nillable="true" type="q97:VendedorDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectVendedorFoto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="vendedor" nillable="true" type="q98:VendedorDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectVendedorFotoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="SelectVendedorFotoResult" nillable="true" type="q99:ArquivoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectVendedorBI">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="vendedor" nillable="true" type="q100:VendedorDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectVendedorBIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="SelectVendedorBIResult" nillable="true" type="q101:ArquivoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirVendedorBI">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idVendedor" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirVendedorBIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExcluirVendedorBIResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirVendedorFoto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idVendedor" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirVendedorFotoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExcluirVendedorFotoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImprimirDevedores">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q102="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="mercado" nillable="true" type="q102:MercadoDTO" />
        <xs:element minOccurs="0" name="pDataInicial" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pDataFinal" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImprimirDevedoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="ImprimirDevedoresResult" nillable="true" type="q103:ArquivoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImprimirPresencas">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q104="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="mercado" nillable="true" type="q104:MercadoDTO" />
        <xs:element minOccurs="0" name="pDataInicial" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pDataFinal" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImprimirPresencasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="ImprimirPresencasResult" nillable="true" type="q105:ArquivoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImprimirPagamentos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q106="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="mercado" nillable="true" type="q106:MercadoDTO" />
        <xs:element minOccurs="0" name="pDataInicial" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pDataFinal" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImprimirPagamentosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q107="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="ImprimirPagamentosResult" nillable="true" type="q107:ArquivoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCalendarioFuncionamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q108="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="calendarioFuncionamento" nillable="true" type="q108:CalendarioFuncionamentoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCalendarioFuncionamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteCalendarioFuncionamentoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarAtualizarCalendarioFuncionamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q109="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="calendarioFuncionamento" nillable="true" type="q109:CalendarioFuncionamentoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarAtualizarCalendarioFuncionamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q110="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="SalvarAtualizarCalendarioFuncionamentoResult" nillable="true" type="q110:CalendarioFuncionamentoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectCalendarioFuncionamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q111="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="calendarioFuncionamento" nillable="true" type="q111:CalendarioFuncionamentoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectCalendarioFuncionamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q112="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="SelectCalendarioFuncionamentoResult" nillable="true" type="q112:ArrayOfCalendarioFuncionamentoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectCalendarioFuncionamentoPagina">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="primeiroResultado" type="xs:int" />
        <xs:element minOccurs="0" name="quantidadeResultados" type="xs:int" />
        <xs:element xmlns:q113="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="calendarioFuncionamento" nillable="true" type="q113:CalendarioFuncionamentoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectCalendarioFuncionamentoPaginaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q114="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="SelectCalendarioFuncionamentoPaginaResult" nillable="true" type="q114:ArrayOfCalendarioFuncionamentoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectCalendarioFuncionamentoMesAno">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idMercado" type="xs:int" />
        <xs:element minOccurs="0" name="mesAno" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectCalendarioFuncionamentoMesAnoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q115="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="SelectCalendarioFuncionamentoMesAnoResult" nillable="true" type="q115:ArrayOfCalendarioFuncionamentoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePresenca">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q116="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="presenca" nillable="true" type="q116:PresencaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePresencaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletePresencaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarAtualizarPresenca">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q117="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="presenca" nillable="true" type="q117:PresencaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarAtualizarPresencaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q118="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="SalvarAtualizarPresencaResult" nillable="true" type="q118:PresencaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLocalVenda">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q119="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="localVenda" nillable="true" type="q119:LocalVendaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLocalVendaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteLocalVendaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarAtualizarLocalVenda">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q120="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="localVenda" nillable="true" type="q120:LocalVendaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarAtualizarLocalVendaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q121="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="SalvarAtualizarLocalVendaResult" nillable="true" type="q121:LocalVendaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectLocalVenda">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q122="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="localVenda" nillable="true" type="q122:LocalVendaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectLocalVendaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q123="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="SelectLocalVendaResult" nillable="true" type="q123:ArrayOfLocalVendaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectLocalVendaPagina">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="primeiroResultado" type="xs:int" />
        <xs:element minOccurs="0" name="quantidadeResultados" type="xs:int" />
        <xs:element xmlns:q124="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="localVenda" nillable="true" type="q124:LocalVendaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectLocalVendaPaginaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q125="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="SelectLocalVendaPaginaResult" nillable="true" type="q125:ArrayOfLocalVendaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImprimirLocalVendaLista">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="primeiroResultado" type="xs:int" />
        <xs:element minOccurs="0" name="quantidadeResultados" type="xs:int" />
        <xs:element xmlns:q126="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="localVenda" nillable="true" type="q126:LocalVendaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImprimirLocalVendaListaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q127="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="ImprimirLocalVendaListaResult" nillable="true" type="q127:ArquivoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMunicipio">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q128="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="municipio" nillable="true" type="q128:MunicipioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMunicipioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteMunicipioResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarAtualizarMunicipio">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q129="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="municipio" nillable="true" type="q129:MunicipioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarAtualizarMunicipioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q130="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="SalvarAtualizarMunicipioResult" nillable="true" type="q130:MunicipioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectMunicipio">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q131="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="municipio" nillable="true" type="q131:MunicipioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectMunicipioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q132="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="SelectMunicipioResult" nillable="true" type="q132:ArrayOfMunicipioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectMunicipioPagina">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="primeiroResultado" type="xs:int" />
        <xs:element minOccurs="0" name="quantidadeResultados" type="xs:int" />
        <xs:element xmlns:q133="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="municipio" nillable="true" type="q133:MunicipioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectMunicipioPaginaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q134="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="SelectMunicipioPaginaResult" nillable="true" type="q134:ArrayOfMunicipioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImprimirMunicipioLista">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="primeiroResultado" type="xs:int" />
        <xs:element minOccurs="0" name="quantidadeResultados" type="xs:int" />
        <xs:element xmlns:q135="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="municipio" nillable="true" type="q135:MunicipioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImprimirMunicipioListaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q136="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="ImprimirMunicipioListaResult" nillable="true" type="q136:ArquivoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteComuna">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q137="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="comuna" nillable="true" type="q137:ComunaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteComunaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteComunaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarAtualizarComuna">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q138="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="comuna" nillable="true" type="q138:ComunaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarAtualizarComunaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q139="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="SalvarAtualizarComunaResult" nillable="true" type="q139:ComunaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectComuna">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q140="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="comuna" nillable="true" type="q140:ComunaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectComunaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q141="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="SelectComunaResult" nillable="true" type="q141:ArrayOfComunaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectComunaPagina">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="primeiroResultado" type="xs:int" />
        <xs:element minOccurs="0" name="quantidadeResultados" type="xs:int" />
        <xs:element xmlns:q142="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="comuna" nillable="true" type="q142:ComunaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectComunaPaginaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q143="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="SelectComunaPaginaResult" nillable="true" type="q143:ArrayOfComunaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImprimirComunaLista">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="primeiroResultado" type="xs:int" />
        <xs:element minOccurs="0" name="quantidadeResultados" type="xs:int" />
        <xs:element xmlns:q144="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="comuna" nillable="true" type="q144:ComunaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImprimirComunaListaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q145="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="ImprimirComunaListaResult" nillable="true" type="q145:ArquivoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFuncionario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q146="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="funcionario" nillable="true" type="q146:FuncionarioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFuncionarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteFuncionarioResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarAtualizarFuncionario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q147="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="funcionario" nillable="true" type="q147:FuncionarioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarAtualizarFuncionarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q148="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="SalvarAtualizarFuncionarioResult" nillable="true" type="q148:FuncionarioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectFuncionario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q149="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="funcionario" nillable="true" type="q149:FuncionarioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectFuncionarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q150="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="SelectFuncionarioResult" nillable="true" type="q150:ArrayOfFuncionarioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectFuncionarioPagina">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="primeiroResultado" type="xs:int" />
        <xs:element minOccurs="0" name="quantidadeResultados" type="xs:int" />
        <xs:element xmlns:q151="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="funcionario" nillable="true" type="q151:FuncionarioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectFuncionarioPaginaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q152="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="SelectFuncionarioPaginaResult" nillable="true" type="q152:ArrayOfFuncionarioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImprimirFuncionarioLista">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="primeiroResultado" type="xs:int" />
        <xs:element minOccurs="0" name="quantidadeResultados" type="xs:int" />
        <xs:element xmlns:q153="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="funcionario" nillable="true" type="q153:FuncionarioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImprimirFuncionarioListaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q154="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="ImprimirFuncionarioListaResult" nillable="true" type="q154:ArquivoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMercado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q155="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="mercado" nillable="true" type="q155:MercadoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMercadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteMercadoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarAtualizarMercado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q156="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="mercado" nillable="true" type="q156:MercadoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarAtualizarMercadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q157="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="SalvarAtualizarMercadoResult" nillable="true" type="q157:MercadoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectMercado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q158="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="mercado" nillable="true" type="q158:MercadoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectMercadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q159="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="SelectMercadoResult" nillable="true" type="q159:ArrayOfMercadoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectMercadoPagina">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="primeiroResultado" type="xs:int" />
        <xs:element minOccurs="0" name="quantidadeResultados" type="xs:int" />
        <xs:element xmlns:q160="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="mercado" nillable="true" type="q160:MercadoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectMercadoPaginaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q161="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="SelectMercadoPaginaResult" nillable="true" type="q161:ArrayOfMercadoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImprimirMercadoLista">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="primeiroResultado" type="xs:int" />
        <xs:element minOccurs="0" name="quantidadeResultados" type="xs:int" />
        <xs:element xmlns:q162="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="mercado" nillable="true" type="q162:MercadoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImprimirMercadoListaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q163="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="ImprimirMercadoListaResult" nillable="true" type="q163:ArquivoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProduto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q164="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="produto" nillable="true" type="q164:ProdutoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProdutoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteProdutoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarAtualizarProduto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q165="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="produto" nillable="true" type="q165:ProdutoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarAtualizarProdutoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q166="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="SalvarAtualizarProdutoResult" nillable="true" type="q166:ProdutoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectProduto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q167="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="produto" nillable="true" type="q167:ProdutoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectProdutoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q168="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="SelectProdutoResult" nillable="true" type="q168:ArrayOfProdutoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCargo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q169="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="cargo" nillable="true" type="q169:CargoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCargoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteCargoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarAtualizarCargo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q170="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="cargo" nillable="true" type="q170:CargoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarAtualizarCargoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q171="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="SalvarAtualizarCargoResult" nillable="true" type="q171:CargoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectCargo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q172="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="cargo" nillable="true" type="q172:CargoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectCargoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q173="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="SelectCargoResult" nillable="true" type="q173:ArrayOfCargoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectCargoPagina">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="primeiroResultado" type="xs:int" />
        <xs:element minOccurs="0" name="quantidadeResultados" type="xs:int" />
        <xs:element xmlns:q174="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="cargo" nillable="true" type="q174:CargoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectCargoPaginaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q175="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="SelectCargoPaginaResult" nillable="true" type="q175:ArrayOfCargoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImprimirCargoLista">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="primeiroResultado" type="xs:int" />
        <xs:element minOccurs="0" name="quantidadeResultados" type="xs:int" />
        <xs:element xmlns:q176="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="cargo" nillable="true" type="q176:CargoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImprimirCargoListaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q177="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="ImprimirCargoListaResult" nillable="true" type="q177:ArquivoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAreaZonaVendedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q178="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="areaZonaVendedor" nillable="true" type="q178:AreaZonaVendedorDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAreaZonaVendedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteAreaZonaVendedorResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarAtualizarAreaZonaVendedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q179="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="areaZonaVendedor" nillable="true" type="q179:AreaZonaVendedorDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarAtualizarAreaZonaVendedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q180="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="SalvarAtualizarAreaZonaVendedorResult" nillable="true" type="q180:AreaZonaVendedorDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAreaZonaVendedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q181="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="areaZonaVendedor" nillable="true" type="q181:AreaZonaVendedorDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAreaZonaVendedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q182="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="SelectAreaZonaVendedorResult" nillable="true" type="q182:ArrayOfAreaZonaVendedorDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAreaZonaVendedorPagina">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="primeiroResultado" type="xs:int" />
        <xs:element minOccurs="0" name="quantidadeResultados" type="xs:int" />
        <xs:element xmlns:q183="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="areaZonaVendedor" nillable="true" type="q183:AreaZonaVendedorDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAreaZonaVendedorPaginaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q184="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="SelectAreaZonaVendedorPaginaResult" nillable="true" type="q184:ArrayOfAreaZonaVendedorDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImprimirAreaZonaVendedorLista">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="primeiroResultado" type="xs:int" />
        <xs:element minOccurs="0" name="quantidadeResultados" type="xs:int" />
        <xs:element xmlns:q185="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="areaZonaVendedor" nillable="true" type="q185:AreaZonaVendedorDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImprimirAreaZonaVendedorListaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q186="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="ImprimirAreaZonaVendedorListaResult" nillable="true" type="q186:ArquivoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProvincia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q187="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="provincia" nillable="true" type="q187:ProvinciaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProvinciaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteProvinciaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarAtualizarProvincia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q188="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="provincia" nillable="true" type="q188:ProvinciaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarAtualizarProvinciaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q189="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="SalvarAtualizarProvinciaResult" nillable="true" type="q189:ProvinciaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectProvincia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q190="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="provincia" nillable="true" type="q190:ProvinciaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectProvinciaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q191="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="SelectProvinciaResult" nillable="true" type="q191:ArrayOfProvinciaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectProvinciaPagina">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="primeiroResultado" type="xs:int" />
        <xs:element minOccurs="0" name="quantidadeResultados" type="xs:int" />
        <xs:element xmlns:q192="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="provincia" nillable="true" type="q192:ProvinciaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectProvinciaPaginaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q193="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="SelectProvinciaPaginaResult" nillable="true" type="q193:ArrayOfProvinciaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImprimirProvinciaLista">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="primeiroResultado" type="xs:int" />
        <xs:element minOccurs="0" name="quantidadeResultados" type="xs:int" />
        <xs:element xmlns:q194="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="provincia" nillable="true" type="q194:ProvinciaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImprimirProvinciaListaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q195="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="ImprimirProvinciaListaResult" nillable="true" type="q195:ArquivoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteHabilitacaoLiteraria">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q196="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="habilitacaoLiteraria" nillable="true" type="q196:HabilitacaoLiterariaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteHabilitacaoLiterariaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteHabilitacaoLiterariaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarAtualizarHabilitacaoLiteraria">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q197="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="habilitacaoLiteraria" nillable="true" type="q197:HabilitacaoLiterariaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarAtualizarHabilitacaoLiterariaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q198="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="SalvarAtualizarHabilitacaoLiterariaResult" nillable="true" type="q198:HabilitacaoLiterariaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectHabilitacaoLiteraria">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q199="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="habilitacaoLiteraria" nillable="true" type="q199:HabilitacaoLiterariaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectHabilitacaoLiterariaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q200="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="SelectHabilitacaoLiterariaResult" nillable="true" type="q200:ArrayOfHabilitacaoLiterariaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectHabilitacaoLiterariaPagina">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="primeiroResultado" type="xs:int" />
        <xs:element minOccurs="0" name="quantidadeResultados" type="xs:int" />
        <xs:element xmlns:q201="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="habilitacaoLiteraria" nillable="true" type="q201:HabilitacaoLiterariaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectHabilitacaoLiterariaPaginaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q202="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="SelectHabilitacaoLiterariaPaginaResult" nillable="true" type="q202:ArrayOfHabilitacaoLiterariaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSituacaoVendedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q203="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="situacaoVendedor" nillable="true" type="q203:SituacaoVendedorDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSituacaoVendedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteSituacaoVendedorResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarAtualizarSituacaoVendedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q204="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="situacaoVendedor" nillable="true" type="q204:SituacaoVendedorDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarAtualizarSituacaoVendedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q205="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="SalvarAtualizarSituacaoVendedorResult" nillable="true" type="q205:SituacaoVendedorDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectSituacaoVendedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q206="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="situacaoVendedor" nillable="true" type="q206:SituacaoVendedorDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectSituacaoVendedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q207="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="SelectSituacaoVendedorResult" nillable="true" type="q207:ArrayOfSituacaoVendedorDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectSituacaoVendedorPagina">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="primeiroResultado" type="xs:int" />
        <xs:element minOccurs="0" name="quantidadeResultados" type="xs:int" />
        <xs:element xmlns:q208="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="situacaoVendedor" nillable="true" type="q208:SituacaoVendedorDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectSituacaoVendedorPaginaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q209="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="SelectSituacaoVendedorPaginaResult" nillable="true" type="q209:ArrayOfSituacaoVendedorDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCategoriaProduto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q210="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="categoriaProduto" nillable="true" type="q210:CategoriaProdutoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCategoriaProdutoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteCategoriaProdutoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarAtualizarCategoriaProduto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q211="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="categoriaProduto" nillable="true" type="q211:CategoriaProdutoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarAtualizarCategoriaProdutoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q212="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="SalvarAtualizarCategoriaProdutoResult" nillable="true" type="q212:CategoriaProdutoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectCategoriaProduto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q213="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="categoriaProduto" nillable="true" type="q213:CategoriaProdutoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectCategoriaProdutoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q214="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="SelectCategoriaProdutoResult" nillable="true" type="q214:ArrayOfCategoriaProdutoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectCategoriaProdutoPagina">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="primeiroResultado" type="xs:int" />
        <xs:element minOccurs="0" name="quantidadeResultados" type="xs:int" />
        <xs:element xmlns:q215="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="categoriaProduto" nillable="true" type="q215:CategoriaProdutoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectCategoriaProdutoPaginaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q216="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="SelectCategoriaProdutoPaginaResult" nillable="true" type="q216:ArrayOfCategoriaProdutoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImprimirCategoriaProdutoLista">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="primeiroResultado" type="xs:int" />
        <xs:element minOccurs="0" name="quantidadeResultados" type="xs:int" />
        <xs:element xmlns:q217="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="categoriaProduto" nillable="true" type="q217:CategoriaProdutoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImprimirCategoriaProdutoListaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q218="http://schemas.datacontract.org/2004/07/SISGMFService.Model" minOccurs="0" name="ImprimirCategoriaProdutoListaResult" nillable="true" type="q218:ArquivoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>